<div class="full-width">
<div class="wrapper clearfix">
<article class="nationalInfo">
<h4 class="red-bullet">국가 정보</h4>

<div class="whBox clearfix">
<div class="clearfix national_name"><img alt="미국국기" class="flag" height="97" src="/globalenergy/design/theme/bluebox/images/america.png" width="140" /> <span> <span class="name_k">미국</span><br />
<span class="name_e">America</span> </span></div>
<strong class="red_bar">국가 개황</strong>

<ul class="mid-dot">
	<li>면적 : 9,834천 ㎢(한반도의 44.5배)</li>
	<li>기후 : 온대, 아열대</li>
	<li>인구 : 3.3억 명(&#39;19)</li>
	<li>언어 : 영어(공용어)</li>
	<li>종교 : 개신교(47%), 카톨릭(21%)</li>
	<li>산업구조 : 서비스업 80%, 제조업 19%, 농업 1%(&#39;17)</li>
	<li>주요 부존자원 : 석탄, 구리, 납, 몰리브덴, 인산염, 희토류, 우라늄, 보크사이트, 금, 철</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar">주요 사업 환경 지표</strong>

<ul class="mid-dot">
	<li>기업경영여건 : 6th/190</li>
	<li>국제신인도 : Moody&#39;s Aaa, Fitch AAA</li>
	<li>투자현황 (2019년 6월말 누계)
	<p class="hypen">신규 법인 수 : 14,990</p>

	<p class="hypen">투자금액 : 112,327,904 천 달러</p>
	</li>
	<li>1인당 GDP : 67,427 달러(&#39;20)</li>
	<li>경제성장률 : 2.1%(&#39;20)</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar mt20">투자보장/에너지협력 체결 현황</strong>

<ul class="mid-dot">
	<li>투자보장협정 : N/A</li>
</ul>
</div>
</article>

<div class="left_nation">
<article class="energyMix">
<h4 class="red-bullet">미국 에너지 데이터</h4>

<div class="whBox">
<div class="graph mix">
<div id="curve_chart">&nbsp;</div>
</div>

<p class="italic">Source : EIA (2020 Sep.)</p>
</div>
</article>

<article class="energyPlan">
<h4 class="red-bullet">에너지 계획</h4>

<div class="whBox clearfix"><strong class="red_bar">미국 에너지 계획</strong>

<div class="col-md-6">
<div class="subject">2025년 에너지 믹스</div>

<div class="graph plan">
<div id="pie_chart">&nbsp;</div>
</div>

<p class="italic">Source : ANNUAL ENERGY OUTLOOK 2025</p>
</div>

<div class="col-md-6">
<div class="subject">바이든 행정부와 트럼프 신행정부의 에너지 계획 비교</div>

<div class="board-list defaut_1">
<table>
	<caption class="hidden">바이든 행정부와 트럼프 신행정부의 에너지 계획 비교</caption>
	<colgroup>
		<col style="width:30%" />
		<col style="width:35%" />
		<col style="width:35%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">정책 분야</th>
			<th scope="col">바이든 행정부 (2021)</th>
			<th scope="col">트럼프 신행정부 (2025)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong>에너지 전략</strong></td>
			<td>청정에너지 전환 중심</td>
			<td>화석연료 중심의 에너지 독립 강화</td>
		</tr>
		<tr>
			<td><strong>기후변화 대응</strong></td>
			<td>국제 협약 (파리기후협약) 참여 및 탄소중립 목표 설정</td>
			<td>국제 협약 (파리기후협약) 탈퇴 및 기후변화 규제 완화</td>
		</tr>
		<tr>
			<td><strong>재생에너지 지원</strong></td>
			<td>투자 확대 및 인프라 구축 지원</td>
			<td>지원 축소 및 프로젝트 중단</td>
		</tr>
		<tr>
			<td><strong>에너지 효율성</strong></td>
			<td>에너지 효율성 프로그램 강화</td>
			<td>에너지 효율성 프로그램 폐지</td>
		</tr>
		<tr>
			<td><strong>전기차 정책</strong></td>
			<td>보조금 및 인프라 확대</td>
			<td>보조금 축소 및 인프라 지원 중단</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</div>
</article>

<article class="energyGov">
<h4 class="red-bullet">에너지 정부</h4>

<div class="whBox">
<div class="graph organization"><img alt="미국 에너지 정부 조직도" src="/globalenergy/design/theme/bluebox/images/AmericaGov.png" /></div>
<a class="govmore" href="#">기관별 역할 보기<span>&nbsp;</span></a>

<div class="tableWrap">
<table>
	<caption class="hidden">미국 에너지 정부의 기관명, 역할</caption>
	<colgroup>
		<col style="width:25%" />
		<col style="width:75%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">기관명</th>
			<th scope="col">역할</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://www.doi.gov/" target="_blank">내무부(DOI)</a></td>
			<td>경제 및 사회 발전과 관련된 전략 수립 및 실행</td>
		</tr>
		<tr>
			<td><a href="https://www.justice.gov/" target="_blank">법무부(DOJ)</a></td>
			<td>에너지관련 규제 및 지원을 위한 법 수립</td>
		</tr>
		<tr>
			<td><a href="https://www.epa.gov/" target="_blank">환경보호청(EPA)</a></td>
			<td>기후변화 대응을 위한 에너지전환, 에너지효율 향상, RFS 등의 규제 및 지원제도 운영</td>
		</tr>
		<tr>
			<td><a href="https://www.energy.gov/" target="_blank">에너지부(DOE)</a></td>
			<td>에너지 관련 정책 총괄</td>
		</tr>
		<tr>
			<td><a href="https://www.transportation.gov/" target="_blank">교통부(DOT)</a></td>
			<td>교통, 수송 관련 에너지 사용 등의 규제 및 지원제도 운영</td>
		</tr>
		<tr>
			<td><a href="https://www.irs.gov/" target="_blank">국세청(IRS)</a></td>
			<td>에너지 관련 지원사업의 세금 감면, 면제 등을 운영</td>
		</tr>
		<tr>
			<td><a href="https://www.usda.gov/" target="_blank">농무부(USDA)</a></td>
			<td>농업과 관련된 에너지 사용 절감 관련 지원제도 운영</td>
		</tr>
		<tr>
			<td><a href="https://www.state.gov/" target="_blank">국무부(DOS)</a></td>
			<td>에너지 안보, 자원 확보 등의 업무</td>
		</tr>
		<tr>
			<td><a href="https://www.nrel.gov/" target="_blank">미국 재생 에너지 연구소(NREL)</a></td>
			<td>재생에너지 보급 확대 정책 연구</td>
		</tr>
		<tr>
			<td><a href="https://www.energy.gov/eere/office-energy-efficiency-renewable-energy" target="_blank">에너지효율 및 재생에너지(EERE)</a></td>
			<td>에너지효율 및 재생에너지 관련 정책 운영</td>
		</tr>
		<tr>
			<td><a href="https://arpa-e.energy.gov/" target="_blank">첨단 연구 에너지부(ARPA-E)</a></td>
			<td>에너지 관련 신기술 기획, 연구 및 실증</td>
		</tr>
		<tr>
			<td><a href="https://www.eia.gov/" target="_blank">에너지 관리청(EIA)</a></td>
			<td>에너지 관련 자료, 통계 수집 및 관리</td>
		</tr>
		<tr>
			<td><a href="https://www.state.gov/bureaus-offices/under-secretary-for-economic-growth-energy-and-the-environment/bureau-of-energy-resources/" target="_blank">에너지 자원국(ENR)</a></td>
			<td>국내 에너지 자원의 관리 및 유출 방지</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</article>
</div>
</div>
<!-- wrapper --></div>
<!-- full-width --><!-- wrapper --><!-- CHART --><script>
                                  // GOOGLE CHART 패키지 불러오기
                                  google.charts.load('current', {'packages':['corechart']});
                                
                                  // LINE CHART
                                  google.charts.setOnLoadCallback(drawChart);
                                
                                  function drawChart() {
                                    var data = google.visualization.arrayToDataTable([
                                      ['Year', 'Biomass and watse', 'Coal', 'Gas', 'Geothermal', 'Hydroelectricity', 'Nuclear', 'Oil', 'Solar', 'Tide and Wave', 'Wind'],
                                      ['2007',  29.074,  289.7938964,  74.81751202,  0,      18.664,  133.209,   9.406591569,   3.075,    2.218,   39.713    ],  
                                      ['2008',  32.821,  268.3112232,  84.86556554,  0.018,  18.317,  140.886,   9.098211279,   4.42,     2.063,   40.574    ],
                                      ['2009',  36.201,  244.6373769,  77.1907802,   0.019,  16.885,  127.719,   9.464842858,   6.584,    1.957,   38.639    ],
                                      ['2010',  40.658,  257.048846,   84.93063748,  0.02,   18.43,   133.012,   8.216516537,   11.728,   2.15,    37.677  ],
                                      ['2011',  44.002,  256.0369369,  81.99487472,  0.019,  15.351,  102.311,   6.733188362,   19.599,   2.15,    48.736  ],
                                      ['2012',  51.182,  269.5969535,  73.12331974,  0.025,  19.338,  94.098,    7.186726797,   26.38,    1.855,   50.518  ],
                                      ['2013',  53.148,  281.0699582,  64.61290833,  0.067,  20.619,  92.142,    6.766133438,   31.01,    1.62,    51.552   ],
                                      ['2014',  56.848,  267.8172411,  58.53514239,  0.067,  17.175,  91.784,    5.317616555,   36.056,   1.892,   57.185  ],
                                      ['2015',  57.379,  266.6874,     59.23598,     0.092,  16.533,  86.81,     5.83646,       38.726,   1.735,   78.871  ],
                                      ['2016',  58.255,  256.80424,    77.35636,     0.165,  18.33,   80.07,     5.49524,       38.098,   1.805,   78.218  ],
                                      ['2017',  58.22,   237.65362,    82.4239,      0.157,  17.731,  72.163,    5.23674,       39.401,   1.623,   103.707   ]
                                    ]);
                                
                                    var options = {
                                      title: '단위 : TWh',
                                      titleTextStyle: {color: '#666666', bold: 'false'},
                                      legend: { position: 'bottom' },
                                      vAxis: {gridlines: {count: 6} },
                                      colors: ['#4472C4','#ED7D31','#A5A5A5','#FFC000','#5B9BD5','#70AD47','#264478','#9E480E','#636363','#997300'],
                                      lineWidth:3,
                                      chartArea:{width:'90%'}
                                    };
                                
                                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                                    window.addEventListener('resize', drawChart, false); 
                                    chart.draw(data, options);
                                  }
                                
                                
                                  // PIE CHART
                                    google.charts.setOnLoadCallback(drawChartPie);
                                
                                    function drawChartPie() {
                
                                      var data = google.visualization.arrayToDataTable([
                                        ['Energy', 'Amount'],
                                        ['Oil',                  {v: 26, f:'26%'}],
																				['Natural Gas',          {v: 46, f:'46%'}],
                                        ['Coal',                 {v: 9, f:'9%'}],
                                        ['Nuclear',              {v: 8, f:'8%'}],
																				['Hydropower',           {v: 1, f:'1%'}],
                                        ['Biomass',              {v: 5, f:'5%'}],
                                        ['Other Renewable',      {v: 3, f:'3%'}],
                                        ['Other',                {v: 2, f:'2%'}]
                                      ]);
                                
                                      var options = {
                                        legend: {alignment:'center', position: 'bottom'},
                                        sliceVisibilityThreshold: 0.0001,
                                        enableInteractivity: true,
                                        pieSliceText: 'value',
                                        backgroundColor:{fill:'#fff', stroke:'#d9d9d9', strokeWidth:'2'},
                                        chartArea:{width: '90%'},
                                        fontsize: 14,
                                        colors:['#4472C4', '#ED7D31', '#aaa', '#FFC000', '#5B9BD5','#70AD47','#264478','#9E480E'],
                                        tooltip: {ignoreBounds:true, text:'value', trigger:'selection', textStyle: {color:'#000', fontSize: '14'}}
                                      };
                                
                                
                                      var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
                                      window.addEventListener('resize', drawChartPie, false); 
                                      chart.draw(data, options);
                                
                                      // legend(범례)에 mouseover 할 때도 tooltip 보여지도록.
                                      function mouseOverHandler(selection) {
                                        chart.setSelection([selection]);
                                      }
                                      function mouseOutHandler() {
                                        chart.setSelection();      }
                                      google.visualization.events.addListener(chart, 'onmouseover', mouseOverHandler);
                                      google.visualization.events.addListener(chart, 'onmouseout', mouseOutHandler);
                                
                                
                                  }
                                </script><!-- END CHART -->

