<div class="full-width">
<div class="wrapper clearfix">
<article class="nationalInfo">
<h4 class="red-bullet">국가 정보</h4>

<div class="whBox clearfix">
<div class="clearfix national_name"><img alt="브라질국기" class="flag" src="/globalenergy/design/theme/bluebox/images/brazil.png" /> <span> <span class="name_k" style="font-size: 1.3rem">브라질</span><br />
<span class="name_e">Brazil</span> </span></div>
<strong class="red_bar">국가 개황</strong>

<ul class="mid-dot">
	<li>면적 : 8,516천 ㎢(한반도의 38.6배)</li>
	<li>기후 : 열대(북부), 아열대(중부), 온대(남부)</li>
	<li>인구 : 2.1억 명(&#39;20)</li>
	<li>언어 : 포르투갈어(공용어)</li>
	<li>종교 : 가톨릭(65%), 개신교(22%)</li>
	<li>산업구조 : 서비스업 73%, 제조업 20%, 농업 7%(&#39;19)</li>
	<li>주요 부존자원 : 알루미나, 보크사이트, 베릴륨, 금, 철광석, 망간, 니켈, 니오븀, 인산염, 백금, 탄탈럼, 주석, 희토류, 우라늄, 석유, 수력자원, 임산자원</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar">주요 사업 환경 지표</strong>

<ul class="mid-dot">
	<li>기업경영여건 : 124th/190</li>
	<li>국제신인도 : Moody&#39;s Ba2, Fitch BB-</li>
	<li>투자현황 (2019년 6월말 누계)
	<p class="hypen">신규 법인 수 : 299</p>

	<p class="hypen">투자금액 : 8,582,615 천 달러</p>
	</li>
	<li>1인당 GDP : 6,450 달러(&#39;20)</li>
	<li>경제성장률 : -5.8%(&#39;20)</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar mt20">투자보장/에너지협력 체결 현황</strong>

<ul class="mid-dot">
	<li>투자보장협정 : 1995년 9월 1일 체결</li>
</ul>
</div>
</article>

<div class="left_nation">
<article class="energyPlan">
<h4 class="red-bullet">에너지 계획</h4>

<div class="whBox clearfix"><strong class="red_bar">국가 에너지 계획</strong>

<div class="col-md-6">
<div class="subject">2030 전력 믹스 (설치용량 기준)</div>

<div class="graph plan">
<div id="pie_chart">&nbsp;</div>
</div>

<p class="italic">Source : Cambodia Basic Energy Plan</p>
</div>

<div class="col-md-6">
<div class="subject">국가 에너지 계획 2050</div>

<ul class="mid-dot">
	<li>신규 원자력발전소 Angra 3호기 2026년 가동</li>
	<li>비재생에너지(non-renewable) 생산 증대를 통한 순(net) 에너지(에너지 수요 초과 생산량 확보) 생산 국가로의 전환</li>
	<li>바이오 연료의 다양화와 생산 증대를 통한 국내외 시장 점유율 확대</li>
	<li>암염하층(pre-salt) 지대의 풍부한 석유 매장량을 기반으로 2030년 550만 배럴/일 생산 및 2050년까지 동 수준 유지</li>
	<li>온실가스 배출 감축을 위한 노력의 일환으로 석탄 사용량 감소 가속화</li>
	<li>2030년까지 수력발전 설치용량 168GW 달성 예상</li>
</ul>
</div>
</div>
</article>

<article class="energyGov">
<h4 class="red-bullet">에너지 정부</h4>

<div class="whBox">
<div class="graph organization"><img alt="브라질 에너지 정부 조직도" src="/globalenergy/design/theme/bluebox/images/brazilGov.png" /></div>
<a class="govmore" href="#">기관별 역할 보기<span>&nbsp;</span></a>

<div class="tableWrap">
<table>
	<caption class="hidden">브라질 에너지 정부의 기관명, 역할</caption>
	<colgroup>
		<col style="width: 25%" />
		<col style="width: 75%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">기관명</th>
			<th scope="col">역할</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://www.gov.br/mme/pt-br" target="_blank">에너지광물부 (MME)</a></td>
			<td>석유, 천연가스, 바이오연료, 에너지 계획, 에너지 개발 관련 정책 수립</td>
		</tr>
		<tr>
            <!-- 링크 이상있음 -->
			<td><a href="http://antigo.mme.gov.br/web/guest/conselhos-e-comites/cnpe" target="_blank">에너지정책위원회 (CNPE)</a></td>
			<td>에너지 정책 및 지침 수립을 위해 대통령에게 자문 제공</td>
		</tr>
		<tr>
            <!-- 링크 이상있음 -->
			<td><a href="http://antigo.mme.gov.br/web/guest/conselhos-e-comites/cmse" target="_blank">전력부문모니터링위원회 (CMSE)</a></td>
			<td>전력 공급 연속성과 안전성 모니터링 및 평가</td>
		</tr>
		<tr>
			<td><a href="https://www.gov.br/economia/pt-br" target="_blank">경제부</a></td>
			<td>재정, 기획, 개발 및 관리, 산업, 대외 무역 및 서비스 관련 정책 수행, 투자인센티브 지급</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</article>
</div>
</div>
<!-- wrapper --></div>
<!-- full-width --><!-- wrapper --><!-- CHART --><script>
    // GOOGLE CHART 패키지 불러오기
    google.charts.load("current", { packages: ["corechart"] });

    // LINE CHART
    //google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["Year", "Biomass and watse", "Coal", "Gas", "Hydroelectricity", "Oil", "Solar", "Wind"],
            ["2007", 0, 11.2591, 3.4981, 2.34, 0.3398, 0, 0.001],
            ["2008", 0, 11.1859, 3.574, 2.35, 0.3371, 0, 0.001],
            ["2009", 0, 11.1783, 3.583, 2.36, 0.3357, 0, 0.001],
            ["2010", 0, 12.2152, 3.9603, 2.36, 0.3645, 0, 0.001],
            ["2011", 0, 12.2367, 3.9974, 2.51, 0.3629, 0, 0.002],
            ["2012", 0, 12.2289, 4.0894, 2.66, 0.3648, 0, 0.002],
            ["2013", 0.0003, 12.2738, 4.1038, 2.675, 0.3703, 0.0005, 0.006],
            ["2014", 0.0004, 12.3094, 4.1663, 2.675, 0.3693, 0.005, 0.053],
            ["2015", 0.0004, 13.637, 4.6574, 2.68, 0.4056, 0.057, 0.072],
            ["2016", 0.0004, 14.318, 4.8657, 2.7, 0.4163, 0.057, 0.098],
            ["2017", 0.0001, 14.0391, 4.765, 2.73, 0.4129, 0.059, 0.112],
        ]);

        var options = {
            title: "단위 : TWh",
            titleTextStyle: { color: "#666666", bold: "false" },
            legend: { position: "bottom" },
            vAxis: { gridlines: { count: 6 } },
            colors: ["#4472C4", "#ED7D31", "#A5A5A5", "#FFC000", "#5B9BD5", "#70AD47", "#264478"],
            lineWidth: 3,
            chartArea: { width: "90%" },
        };

        var chart = new google.visualization.LineChart(document.getElementById("curve_chart"));
        window.addEventListener("resize", drawChart, false);
        chart.draw(data, options);
    }

    // PIE CHART
    google.charts.setOnLoadCallback(drawChartPie);

    function drawChartPie() {
        var data = google.visualization.arrayToDataTable([
            ["Energy", "Amount"],
            ["수력", { v: 49.3, f: "49.3%" }],
            ["원자력", { v: 1.4, f: "1.4%" }],
            ["천연 가스", { v: 9.8, f: "9.8%" }],
            ["석탄", { v: 0.4, f: "0.4%" }],
            ["석유", { v: 1.5, f: "1.5%" }],
            ["산업용 가스", { v: 1.0, f: "1.0%" }],
            ["바이오매스", { v: 9.6, f: "9.6%" }],
            ["풍력", { v: 13.7, f: "13.7%" }],
            ["태양에너지", { v: 13.2, f: "13.2%" }],
        ]);

        var options = {
            legend: { alignment: "center", position: "bottom" },
            sliceVisibilityThreshold: 0.0001,
            enableInteractivity: true,
            pieSliceText: "value",
            backgroundColor: { fill: "#fff", stroke: "#d9d9d9", strokeWidth: "2" },
            chartArea: { width: "90%" },
            fontsize: 14,
            colors: ["#4472c4", "#ED7D31", "#aaa", "#FFC000", "#5B9BD5", "#70AD47", "#264478", "#9e480e", "#636363"],
            tooltip: { ignoreBounds: true, text: "value", trigger: "selection", textStyle: { color: "#000", fontSize: "14" } },
        };

        var chart = new google.visualization.PieChart(document.getElementById("pie_chart"));
        window.addEventListener("resize", drawChartPie, false);
        chart.draw(data, options);

        // legend(범례)에 mouseover 할 때도 tooltip 보여지도록.
        function mouseOverHandler(selection) {
            chart.setSelection([selection]);
        }
        function mouseOutHandler() {
            chart.setSelection();
        }
        google.visualization.events.addListener(chart, "onmouseover", mouseOverHandler);
        google.visualization.events.addListener(chart, "onmouseout", mouseOutHandler);
    }
</script><!-- END CHART -->

