<div class="full-width">
<div class="wrapper clearfix">
<article class="nationalInfo">
<h4 class="red-bullet">국가 정보</h4>

<div class="whBox clearfix">
<div class="clearfix national_name"><img alt="국기" class="flag" src="/globalenergy/design/theme/bluebox/images/cambodia.png" /> <span> <span class="name_k">캄보디아</span><br />
<span class="name_e">Cambodia</span> </span></div>
<strong class="red_bar">국가 개황</strong>

<ul class="mid-dot">
	<li>면적 : 181천 ㎢(한반도의 82%)</li>
	<li>기후 : 열대 몬순</li>
	<li>인구 : 16.7백만 명(&#39;20)</li>
	<li>언어 : 크메르어(공용어)</li>
	<li>종교 : 불교(98%), 이슬람교(1%)</li>
	<li>산업구조 : 서비스업 42%, 제조업 35%, 농업 23%(&#39;19)</li>
	<li>주요 부존자원 : 석유, 가스, 임산자원, 원석, 철광석, 망간, 인산염</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar">주요 사업 환경 지표</strong>

<ul class="mid-dot">
	<li>기업경영여건 : 144th/190</li>
	<li>국제신인도 : Moody&#39;s B2</li>
	<li>투자현황 (2019년 6월말 누계)
	<p class="hypen">신규 법인 수 : 945</p>

	<p class="hypen">투자금액 : 2,995,439 천 달러</p>
	</li>
	<li>1인당 GDP : 1,572 달러(&#39;20)</li>
	<li>경제성장률 : -2.8%(&#39;20)</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar mt20">투자보장/에너지협력 체결 현황</strong>

<ul class="mid-dot">
	<li>투자보장협정 : 1997년 2월 10일 체결</li>
</ul>
</div>
</article>

<div class="left_nation">
<article class="energyPlan">
<h4 class="red-bullet">에너지 계획</h4>

<div class="whBox clearfix"><strong class="red_bar">캄보디아 연례보고서 2017 </strong>

<div class="col-md-6">
<div class="subject">2030 전력 믹스 (설치용량 기준)</div>

<div class="graph plan">
<div id="pie_chart">&nbsp;</div>
</div>

<p class="italic">Source : Cambodia Basic Energy Plan</p>
</div>

<div class="col-md-6">
<div class="subject">캄보디아 연례보고서 2017 주요 방향</div>

<ul class="mid-dot">
	<li>수요에 따른 충분한 전력을 합리적인 가격으로 공급</li>
	<li>경제발전 및 투자 촉진을 위해 전력 공급의 신뢰성과 안정성 보장</li>
	<li>환경과 사회에 영향이 적은 에너지 자원 연구, 탐사, 개발 장려</li>
	<li>에너지 효율 제고 및 에너지 공급/소비로 인한 환경 영향을 최소화</li>
	<li>에너지 효율 하락 방지를 위한 건물, 도로 및 기타 산업에서의 인프라 유지 및 관리</li>
	<li>2035년까지 에너지 소비를 2014년 대비 20% 감소를 위해 고효율 에너지 기술 사용 촉진</li>
</ul>
</div>
</div>
</article>

<article class="energyGov">
<h4 class="red-bullet">에너지 정부</h4>

<div class="whBox">
<div class="graph organization"><img alt="캄보디아 에너지 정부 조직도" src="/globalenergy/design/theme/bluebox/images/cambodiaGov.png" /></div>
<a class="govmore" href="#">기관별 역할 보기<span>&nbsp;</span></a>

<div class="tableWrap">
<table>
	<caption class="hidden">캄보디아 에너지 정부의 기관명, 역할</caption>
	<colgroup>
		<col style="width: 25%" />
		<col style="width: 75%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">기관명</th>
			<th scope="col">역할</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://eac.gov.kh/" target="_blank">캄보디아 전력청 (EAC)</a></td>
			<td>전기 서비스에 대한 라이선스 규제 및 발급, 전기 요금 확인 및 판매가격 설정</td>
		</tr>
		<tr>
			<td><a href="https://mme.gov.kh/" target="_blank">광산에너지부 (MME)</a></td>
			<td>에너지 정책 정의 및 관리, 전력부분 전략, 개발 계획 수립 및 관리</td>
		</tr>
		<tr>
			<td><a href="https://www.edc.com.kh/" target="_blank">캄보디아 전기 (EDC)</a></td>
			<td>전기 생산 및 배전</td>
		</tr>
		<tr>
			<td><a href="https://isc.gov.kh/" target="_blank">캄보디아 표준연구소 (ISC)</a></td>
			<td>캄보디아 표준, 지침 개발 및 제품 인증</td>
		</tr>
		<tr>
			<td><a href="https://www.cambodiainvestment.gov.kh/" target="_blank">캄보디아 개발위원회 (CDC)</a></td>
			<td>투자 정책 관리, 투자 유치 및 장려, 신청서 검토 및 인센티브 부여</td>
		</tr>
		<tr>
			<td><a href="https://mef.gov.kh/" target="_blank">기획재정부 (MEF)</a></td>
			<td>경제 및 재정 정책 시행 및 모니터링, 예산 관리</td>
		</tr>
		<tr>
			<td><a href="https://cambodiantr.gov.kh/" target="_blank">캄보디아 무역 포털</a></td>
			<td>수출, 수입관련 규제 정보 제공</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</article>
</div>
</div>
<!-- wrapper --></div>
<!-- full-width --><!-- wrapper --><!-- CHART --><script>
    // GOOGLE CHART 패키지 불러오기
    google.charts.load("current", { packages: ["corechart"] });

    // LINE CHART
    //google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["Year", "Biomass and watse", "Coal", "Gas", "Hydroelectricity", "Oil", "Solar", "Wind"],
            ["2007", 0, 11.2591, 3.4981, 2.34, 0.3398, 0, 0.001],
            ["2008", 0, 11.1859, 3.574, 2.35, 0.3371, 0, 0.001],
            ["2009", 0, 11.1783, 3.583, 2.36, 0.3357, 0, 0.001],
            ["2010", 0, 12.2152, 3.9603, 2.36, 0.3645, 0, 0.001],
            ["2011", 0, 12.2367, 3.9974, 2.51, 0.3629, 0, 0.002],
            ["2012", 0, 12.2289, 4.0894, 2.66, 0.3648, 0, 0.002],
            ["2013", 0.0003, 12.2738, 4.1038, 2.675, 0.3703, 0.0005, 0.006],
            ["2014", 0.0004, 12.3094, 4.1663, 2.675, 0.3693, 0.005, 0.053],
            ["2015", 0.0004, 13.637, 4.6574, 2.68, 0.4056, 0.057, 0.072],
            ["2016", 0.0004, 14.318, 4.8657, 2.7, 0.4163, 0.057, 0.098],
            ["2017", 0.0001, 14.0391, 4.765, 2.73, 0.4129, 0.059, 0.112],
        ]);

        var options = {
            title: "단위 : TWh",
            titleTextStyle: { color: "#666666", bold: "false" },
            legend: { position: "bottom" },
            vAxis: { gridlines: { count: 6 } },
            colors: ["#4472C4", "#ED7D31", "#A5A5A5", "#FFC000", "#5B9BD5", "#70AD47", "#264478"],
            lineWidth: 3,
            chartArea: { width: "90%" },
        };

        var chart = new google.visualization.LineChart(document.getElementById("curve_chart"));
        window.addEventListener("resize", drawChart, false);
        chart.draw(data, options);
    }

    // PIE CHART
    google.charts.setOnLoadCallback(drawChartPie);

    function drawChartPie() {
        var data = google.visualization.arrayToDataTable([
            ["Energy", "Amount"],
            ["Coal/gas", { v: 50.3, f: "50.3%" }],
            ["Oil", { v: 5.3, f: "5.3%" }],
            ["Hydro", { v: 34, f: "34%" }],
            ["Biomass", { v: 3.9, f: "3.9%" }],
            ["Solar/wind", { v: 6.5, f: "6.5%" }],
        ]);

        var options = {
            legend: { alignment: "center", position: "bottom" },
            sliceVisibilityThreshold: 0.0001,
            enableInteractivity: true,
            pieSliceText: "value",
            backgroundColor: { fill: "#fff", stroke: "#d9d9d9", strokeWidth: "2" },
            chartArea: { width: "90%" },
            fontsize: 14,
            colors: ["#4472c4", "#ED7D31", "#aaa", "#FFC000", "#5B9BD5", "#70AD47"],
            tooltip: { ignoreBounds: true, text: "value", trigger: "selection", textStyle: { color: "#000", fontSize: "14" } },
        };

        var chart = new google.visualization.PieChart(document.getElementById("pie_chart"));
        window.addEventListener("resize", drawChartPie, false);
        chart.draw(data, options);

        // legend(범례)에 mouseover 할 때도 tooltip 보여지도록.
        function mouseOverHandler(selection) {
            chart.setSelection([selection]);
        }
        function mouseOutHandler() {
            chart.setSelection();
        }
        google.visualization.events.addListener(chart, "onmouseover", mouseOverHandler);
        google.visualization.events.addListener(chart, "onmouseout", mouseOutHandler);
    }
</script><!-- END CHART -->

