<div class="full-width">
<div class="wrapper clearfix">
<article class="nationalInfo">
<h4 class="red-bullet">국가 정보</h4>

<div class="whBox clearfix">
<div class="clearfix national_name"><img alt="인도국기" class="flag" height="97" src="/globalenergy/design/theme/bluebox/images/india.png" width="140" /> <span> <span class="name_k">인도</span><br />
<span class="name_e">India</span> </span></div>
<strong class="red_bar">국가 개황</strong>

<ul class="mid-dot">
	<li>면적 : 3,287천 ㎢ (한반도의 14.9배)</li>
	<li>기후 : 열대 몬순, 온대</li>
	<li>인구 : 13.5억 명 (&#39;19)</li>
	<li>언어 : 힌디어(공용어), 영어(부공용어), 벵골어, 마라티어</li>
	<li>종교 : 힌두교(80%), 이슬람교(14%)</li>
	<li>산업구조 : 서비스업 62%, 제조업 23%, 농업 15%(&#39;16)</li>
	<li>주요 부존자원 : 석탄, 안티몬, 철광석, 망간, 운모, 보크사이트, 희토류, 티타늄광석, 크롬철광, 천연가스</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar">주요 사업 환경 지표</strong>

<ul class="mid-dot">
	<li>기업경영여건 : 63th/190</li>
	<li>국제신인도 : OECD 3등급, Moody&#39;s Baa2, Fitch BBB-</li>
	<li>투자현황 (2019년 6월말 누계)
	<p class="hypen">신규 법인 수 : 1,165</p>

	<p class="hypen">투자금액 : 6,144,126 천 달러</p>
	</li>
	<li>1인당 GDP : 2,338 달러(&#39;20)</li>
	<li>경제성장률 : 7.0%(&#39;20)</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar mt20">투자보장/에너지협력 체결 현황</strong>

<ul class="mid-dot">
	<li>투자보장협정 : 1996년 2월 26일 체결</li>
</ul>
</div>
</article>

<div class="left_nation">
<article class="energyMix">
<h4 class="red-bullet">에너지원별 발전 현황</h4>

<div class="whBox">
<div class="graph mix"><img alt="IndiaEnergyMix" src="/globalenergy/design/theme/bluebox/images/IndiaEnergyMix.png" />
<div id="curve_chart">&nbsp;</div>
</div>

<p class="italic">Source : EIA (2020 Sep.)</p>
</div>
</article>

<article class="energyPlan">
<h4 class="red-bullet">에너지 계획</h4>

<div class="whBox clearfix"><strong class="red_bar">인도 에너지 계획</strong>

<div class="col-md-6">
<div class="subject">2027년 에너지 믹스(설치용량 기준)</div>

<div class="graph plan"><img alt="MalaysiaEnergyPlan" src="/globalenergy/design/theme/bluebox/images/IndiaEnergyPlan.png" />
<div id="pie_chart">&nbsp;</div>
</div>

<p class="italic">Source : 13th National Electricity Plan 2017 - 2022</p>
</div>

<div class="col-md-6">
<div class="subject">제14차 인도 국가 전력계획</div>

<ul class="mid-dot">
	<li>22년12월 기준 재생 에너지 용량 167,750.3MW (13차 목표 175 GW)</li>
	<li>CO2 배출량은 22년 10억 200만톤에서, 27년 10억 5,700만톤, &lsquo;32년 11억톤으로 증가 전망</li>
	<li>2030년까지 재생에너지 발전용량 목표를 기존의 3배인 500GW</li>
	<li>RE전력 24시간 보장 (RTC) : 재생에너지와 다른 소스 또는 스토리지 전력과 함께 번들링 메커니즘 도입</li>
	<li>태양광 도시 : 각 주에 적어도 하나 이상의 태양광 도시 구축</li>
	<li>재생가능구매의무(RPO) 도입 (배전 허가자)</li>
	<li>주간 전송시스템 요금 면제 : 태양광 및 풍력발전 프로젝트의 주간 송전 시스템 요금 면제 (2025.06.30까지 시운전 프로젝트 대상, 수력펌프저장플랜트(PSP) 및 배터리에너지저장시스템(BESS)포함)</li>
	<li>RE 및 관련 산업 제조역량 강화</li>
</ul>
</div>
</div>
</article>

<article class="energyGov">
<h4 class="red-bullet">에너지 정부</h4>

<div class="whBox">
<div class="graph organization"><img alt="인도 에너지 정부 조직도" src="/globalenergy/design/theme/bluebox/images/IndiaGov_2024.png" /></div>
<a class="govmore" href="#">기관별 역할 보기 <span>&nbsp;</span> </a>

<div class="tableWrap">
<table>
	<caption class="hidden">인도 에너지 정부의 기관명, 역할</caption>
	<colgroup>
		<col style="width:25%" />
		<col style="width:75%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">기관명</th>
			<th scope="col">역할</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://powermin.gov.in/" target="_blank">전력부 (MOP)</a></td>
			<td>국가 에너지개발 담당, 계획 정책 수립, 전력 프로젝트 실행 및 모니터링, 인력개발 등</td>
		</tr>
		<tr>
			<td><a href="https://mnre.gov.in/" target="_blank">신재생에너지부 (MNRE)</a></td>
			<td>풍력, 소수력, 바이오가스, 태양광 등 신재생에너지 관련 연구 개발, 국제 협력, 홍보 등</td>
		</tr>
		<tr>
			<td><a href="https://labour.gov.in/" target="_blank">노동고용부 (MOL&amp;E)</a></td>
			<td>안전한 작업환경 조성 및 노동자의 이익을 보호</td>
		</tr>
		<tr>
			<td><a href="https://cea.nic.in/" target="_blank">중앙전력국 (CEA)</a></td>
			<td>전력부 (MOP)에 기술 및 경제 지원, 국가 전력 계획 발행</td>
		</tr>
		<tr>
      <!-- 링크 이상있음음 -->
			<td><a href="https://www.cpri.in/" target="_blank">중앙전력연구소(CPRI)</a></td>
			<td>국가 시험 인증 기관, 전력 엔지니어링 분야 응용 연구 수행</td>
		</tr>
		<tr>
			<td><a href="https://ntpc.co.in/" target="_blank">국영전력공사 (NTPC)</a></td>
			<td>인도에서 가장 큰 발전 회사, 국내 전력부문 통합 개발을 가속화 하기 위한 송전 시스템, 대형 화력 발전소 건설</td>
		</tr>
		<tr>
			<td><a href="https://neepco.co.in/hi" target="_blank">동북전력공사 (NEEPCO)</a></td>
			<td>북동부 지역 전력 개발을 위한 공기업</td>
		</tr>
		<tr>
			<td><a href="https://www.cercind.gov.in/" target="_blank">중앙전력규제위원회 (CERC)</a></td>
			<td>전기생산, 판매 계획, 전기 정책 및 FIT 규제</td>
		</tr>
		<tr>
			<td><a href="https://beeindia.gov.in/" target="_blank">에너지효율기관 (BEE)</a></td>
			<td>에너지 절약 산업프로그램, 에너지 관리자 및 감사인 인증, 장비에 대한 매뉴얼 및 에너지 성능 코드 개발 등</td>
		</tr>
		<tr>
			<td><a href="https://www.nhpcindia.com/" target="_blank">수력발전공사 (NHPC)</a></td>
			<td>수력, 조력, 풍력을 이용하여 지속가능한 전력 생산</td>
		</tr>
		<tr>
			<td><a href="https://www.pfcindia.com/" target="_blank">전력금융공사 (PFC)</a></td>
			<td>전력 부문 개발 금융 기관</td>
		</tr>
		<tr>
			<td><a href="https://www.recregistryindia.nic.in/index.php/publics/SERCList" target="_blank">주 전력 규제위원회 (SERC)</a></td>
			<td>전력 정책에 대하여 공식적인 주(州) 간 협의체를 통해 협력</td>
		</tr>
		<tr>
			<td><a href="https://ntpc.co.in/" target="_blank">국가열발전공사 (NTPC)</a></td>
			<td>인도 최대 열발전기업</td>
		</tr>
		<tr>
			<td><a href="https://recindia.nic.in/?lang=en" target="_blank">농촌전력회사 (REC)</a></td>
			<td>전력 개발에 소요되는 자금 지원</td>
		</tr>
		<tr>
			<td><a href="https://nise.res.in/" target="_blank">국립태양에너지 연구소 (NISE)</a></td>
			<td>국가 태양광 프로젝트 수행, 연구, 기술 및 기타 관련 작업 조정</td>
		</tr>
		<tr>
			<td><a href="https://niwe.res.in/" target="_blank">국립풍력에너지연구소 (NIWE)</a></td>
			<td>풍력 에너지 분야 연구 기관</td>
		</tr>
		<tr>
			<td><a href="https://nibe.res.in/" target="_blank">국립재생에너지연구소 (SSS-NIRE)</a></td>
			<td>하이브리드/통합 에너지 시스템 개발, 바이오 에너지 분야의 인적자원개발 및 교육 수행</td>
		</tr>
		<tr>
			<td><a href="https://www.ireda.in/" target="_blank">재생에너지개발기관 (IREDA)</a></td>
			<td>비은행 금융기관, 재생에너지 및 에너지 효율 프로젝트에 대한 자금 제공</td>
		</tr>
		<tr>
			<td><a href="https://www.seci.co.in/" target="_blank">태양에너지공사 (SECI)</a></td>
			<td>태양광 관련 프로젝트 수행, 신재생에너지부의 행정 통제를 받는 비영리 기관</td>
		</tr>
		<tr>
			<td><a href="https://www.dgms.gov.in/" target="_blank">광산안전부 (DGMS)</a></td>
			<td>광산 노동자 관련 규제 기관, DGMS 인증서 발급</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</article>
</div>
</div>
<!-- wrapper --></div>
<!-- full-width --><!-- wrapper --><!-- CHART --><script>
    // GOOGLE CHART 패키지 불러오기
    google.charts.load('current', {
      'packages': ['corechart']
    });
    // LINE CHART
    google.charts.setOnLoadCallback(drawChart);
  
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Year', 'Biomass and watse', 'Coal', 'Gas', 'Geothermal', 'Hydroelectricity', 'Nuclear', 'Oil', 'Solar', 'Tide and Wave', 'Wind'],
        ['2007', 1.976, 514.1920088, 90.86646535, 0, 126.585, 15.758, 14.66052582, 0.059, 0, 11.796],
        ['2008', 9.557, 549.9851229, 82.31297319, 0, 115.635, 13.177, 19.22590394, 0.063, 0, 13.701],
        ['2009', 11.947, 584.0363434, 110.3918904, 0, 112.005, 14.746, 14.99976622, 0.075, 0, 17.804],
        ['2010', 14.673, 623.749243, 107.3993328, 0, 113.42, 20.483, 16.75042423, 0.126, 0, 19.66],
        ['2011', 17.631, 685.8285169, 109.1736587, 0, 129.34, 28.948, 9.33482441, 1.494, 0, 24.53],
        ['2012', 20.533, 765.0342548, 83.14293563, 0, 112.7, 29.665, 9.94580952, 2.271, 0, 30.12],
        ['2013', 23.349, 819.3018222, 61.12101573, 0, 133.63, 30.293, 12.04416204, 4.111, 0, 33.17],
        ['2014', 25.545, 911.8487781, 58.86332198, 0, 128.1, 33.232, 13.03489991, 5.812, 0, 37.34],
        ['2015', 27.098, 978.7261109, 64.68029932, 0, 120.27, 34.644, 10.30256978, 10.42, 0, 41.66],
        ['2016', 43.546, 1026.82875, 68.30499904, 0, 121.3, 35.007, 8.978031327, 18.778, 0, 44.74],
        ['2017', 45.431, 1075.896886, 71.9225798, 0, 125.01, 34.848, 7.964114698, 26.035, 0, 51.06]
      ]);
      var options = {
        title: '단위 : TWh',
        titleTextStyle: {
          color: '#666666',
          bold: 'false'
        },
        legend: {
          position: 'bottom'
        },
        vAxis: {
          gridlines: {
            count: 6
          }
        },
        colors: ['#4472C4', '#ED7D31', '#A5A5A5', '#FFC000', '#5B9BD5', '#70AD47', '#264478', '#9E480E', '#636363', '#997300'],
        lineWidth: 3,
        chartArea: {
          width: '90%'
        }
      };
      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
      window.addEventListener('resize', drawChart, false);
      chart.draw(data, options);
    }
    // PIE CHART
    google.charts.setOnLoadCallback(drawChartPie);
  
    function drawChartPie() {
      var data = google.visualization.arrayToDataTable([
        ['Energy', 'Amount'],
        ['Coal', {
          v: 38.5,
          f: '38.5%'
        }],
        ['Hydro', {
          v: 11.5,
          f: '11.5%'
        }],
        ['Gas', {
          v: 4.2,
          f: '4.2%'
        }],
        ['Nuclear', {
          v: 2.7,
          f: '2.7%'
        }],
        ['Wind', {
          v: 16.2,
          f: '16.2%'
        }],
        ['Solar', {
          v: 24.2,
          f: '24.2%'
        }],
        ['Biomass', {
          v: 2.7,
          f: '2.7%'
        }]
      ]);
      var options = {
        legend: {
          alignment: 'center',
          position: 'bottom'
        },
        sliceVisibilityThreshold: 0.0001,
        enableInteractivity: true,
        pieSliceText: 'value',
        backgroundColor: {
          fill: '#fff',
          stroke: '#d9d9d9',
          strokeWidth: '2'
        },
        chartArea: {
          width: '90%'
        },
        fontsize: 14,
        colors: ['#4472C4', '#ED7D31', '#aaa', '#FFC000', '#5B9BD5', '#70AD47'],
        tooltip: {
          ignoreBounds: true,
          text: 'value',
          trigger: 'selection',
          textStyle: {
            color: '#000',
            fontSize: '14'
          }
        }
      };
      var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
      window.addEventListener('resize', drawChartPie, false);
      chart.draw(data, options);
      // legend(범례)에 mouseover 할 때도 tooltip 보여지도록.
      function mouseOverHandler(selection) {
        chart.setSelection([selection]);
      }
  
      function mouseOutHandler() {
        chart.setSelection();
      }
      google.visualization.events.addListener(chart, 'onmouseover', mouseOverHandler);
      google.visualization.events.addListener(chart, 'onmouseout', mouseOutHandler);
    }
  </script><!-- END CHART -->

