<div class="full-width">
<div class="wrapper clearfix">
<article class="nationalInfo">
<h4 class="red-bullet">국가 정보</h4>

<div class="whBox">
<div class="clearfix national_name"><img alt="인도네시아국기" class="flag" height="97" src="/globalenergy/design/theme/bluebox/images/indonesia.png" width="140" /> <span> <span class="name_k">인도네시아</span><br />
<span class="name_e">Indonesia</span> </span></div>
<strong class="red_bar">국가 개황</strong>

<ul class="mid-dot">
	<li>면적 : 1,905천 ㎢ (한반도의 8.6배)</li>
	<li>기후 : 열대성</li>
	<li>인구 : 2.7억 명(&#39;19)</li>
	<li>언어 : 인도네시아어(공용어), 영어</li>
	<li>종교 : 이슬람교(87%), 개신교(7%), 카톨릭(3%)</li>
	<li>산업구조 : 서비스업 45%, 제조업 41%, 농업 14%(&#39;17)</li>
	<li>주요 부존자원 : 석유, 주석, 천연가스, 니켈, 목재, 보크사이트, 구리, 비옥토, 석탄, 금, 은</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar">주요 사업 환경 지표</strong>

<ul class="mid-dot">
	<li>기업경영여건 : 73th/190</li>
	<li>국제신인도 : OECD 3등급, Moody&#39;s Baa2, Fitch BBB</li>
	<li>투자현황 (2019년 6월말 누계)
	<p class="hypen">신규 법인 수 : 2,219</p>

	<p class="hypen">투자금액 : 11,165,151 천 달러</p>
	</li>
	<li>1인당 GDP : 4,465 달러(&#39;20)</li>
	<li>경제성장률 : 5.1%(&#39;20)</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar mt20">투자보장/에너지협력 체결 현황</strong>

<ul class="mid-dot">
	<li>투자보장협정 : 1991년 2월 16일 체결</li>
</ul>
</div>
</article>

<div class="left_nation">
<article class="energyMix">
<h4 class="red-bullet">에너지원별 발전 현황</h4>

<div class="whBox">
<div class="graph mix"><img alt="IndonesiaEnergyMix" src="/globalenergy/design/theme/bluebox/images/IndonesiaEnergyMix.png" />
<div id="curve_chart">&nbsp;</div>
</div>

<p class="italic">Source : EIA (2020 Sep.)</p>
</div>
</article>

<article class="energyPlan">
<h4 class="red-bullet">에너지 계획</h4>

<div class="whBox clearfix"><strong class="red_bar">인도네시아 에너지 계획</strong>

<div class="col-md-6">
<div class="subject">2050 전력 믹스(설치용량 기준)</div>

<div class="graph plan"><img alt="IndonesiaEnergyPlan" src="/globalenergy/design/theme/bluebox/images/IndonesiaEnergyPlan.png" />
<div id="pie_chart">&nbsp;</div>
</div>

<p class="italic">Source : Indonesia Energy Outlook 2019</p>
</div>

<div class="col-md-6">
<div class="subject">인도네시아 국가에너지정책(KEN) 주요 방향</div>

<ul class="mid-dot">
	<li>신재생에너지원의 최대 사용</li>
	<li>석유 사용 최소화</li>
	<li>천연 가스 및 신재생에너지 활용의 최적화</li>
	<li>안정적인 석탄 공급</li>
	<li>2020년까지 전력보급률 100%</li>
	<li>에너지 안보 확보</li>
	<li>1차 에너지 공급을 2025년 400MTOE, 2050년 1000MTE 달성</li>
</ul>
</div>
</div>
</article>

<article class="energyGov">
<h4 class="red-bullet">에너지 정부</h4>

<div class="whBox">
<div class="graph organization"><img alt="인도네시아 에너지 정부 조직도" src="/globalenergy/design/theme/bluebox/images/IndonesiaGov.png" /></div>
<a class="govmore" href="#">기관별 역할 보기<span>&nbsp;</span></a>

<div class="tableWrap">
<table>
	<caption class="hidden">인도네시아 에너지 정부의 기관명, 역할</caption>
	<colgroup>
		<col style="width:25%" />
		<col style="width:75%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">기관명</th>
			<th scope="col">역할</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<!-- 링크 이상있음 -->
			<td><a href="https://www.dpr.go.id/" target="_blank">의회 (DPR)</a></td>
			<td>에너지 및 광물과 관련한 사항에 대한 규제 및 수립, 관련 정부 정책의 시행 및 관리감독에 대한 책임</td>
		</tr>
		<tr>
			<td><a href="https://www.esdm.go.id/" target="_blank">에너지광물자원부 (MEMR)</a></td>
			<td>에너지 정책의 수립과 시행에 대한 책임 및 전력부분 규제</td>
		</tr>
		<tr>
			<!-- 링크 이상있음 -->
			<td><a href="https://www.den.go.id/" target="_blank">국가에너지위원회 (DEN)</a></td>
			<td>국가 에너지 정책의 기본방향과 국가에너지계획(RUEN)을 수립, 에너지 위기 및 긴급상황 시 대응조치 결정</td>
		</tr>
		<tr>
			<!-- 링크 이상있음 -->
			<td><a href="https://portal.pln.co.id/" target="_blank">국영전력공사 (PLN)</a></td>
			<td>국영기업으로서 전력발전의 전분야에 걸쳐 전반적인 책임 부담과 전력의 송전, 배전 및 공급을 담당</td>
		</tr>
		<tr>
			<td><a href="https://www.bappenas.go.id/" target="_blank">국가개발기획부(Bappenas)</a></td>
			<td>국가 개발 계획 분야에 있어 현행 법률 및 규정에 따라 정부의 역할을 수행할 책임</td>
		</tr>
		<tr>
			<td><a href="https://www.kemenkeu.go.id/home" target="_blank">재무부 (MOF)</a></td>
			<td>발전 프로젝트와 관련된 조세감면혜택의 승인 및 정부 보증의 승인 담당, PLN의 운영 및 경영 감독</td>
		</tr>
		<tr>
			<!-- 링크 이상있음 -->
			<td><a href="https://www7.bkpm.go.id/" target="_blank">투자조정청 (BKPM)</a></td>
			<td>전력 공급 사업의 라이선스 발행, 투자자의 문의사항 처리 및 정보 제공</td>
		</tr>
		<tr>
			<!-- 링크 이상있음 -->
			<td><a href="https://kppip.go.id/" target="_blank">인프라개발촉진위원회 (KPPIP)</a></td>
			<td>국가 전략적으로 중요하고 우선순위가 높은 프로젝트의 의사결정 절차를 조정하여 프로젝트의 실행속도 향상</td>
		</tr>
		<tr>
			<td><a href="https://migas.esdm.go.id/" target="_blank">석유 및 가스총국</a></td>
			<td>석유 및 가스 분야의 정책, 기준, 범위, 가이드라인, 절차 수립 및 운영, 기술적 지원 및 평가</td>
		</tr>
		<tr>
			<td><a href="https://gatrik.esdm.go.id/" target="_blank">전력총국</a></td>
			<td>전력 및 에너지 분야의 정책, 기준, 가이드라인, 범위, 절차 수립 및 운영, 기술적 지원 및 평가</td>
		</tr>
		<tr>
			<td><a href="https://www.minerba.esdm.go.id/" target="_blank">광물 및 석탄총국</a></td>
			<td>인도네시아 내 광물 및 석탄 관한 정책, 기준, 절차, 범위 수립 및 운영</td>
		</tr>
		<tr>
			<td><a href="https://ebtke.esdm.go.id/" target="_blank">신재생에너지&middot;에너지절약청<br />
			(DG NREEC)</a></td>
			<td>신재생에너지, 에너지 절약 분야의 제도&middot;정책 수립 및 운영</td>
		</tr>
		<tr>
			<td><a href="https://www.ptpii.co.id/" target="_blank">인프라보증기구(PT PII)</a></td>
			<td>인프라사업에 정부보증 제공하며, 정부의 전략적 어드바이저 역할을 담당</td>
		</tr>
		<tr>
			<td><a href="https://mki-ieps.id/9/" target="_blank">인도네시아 전기 협회</a></td>
			<td>전력분야의 이슈 및 문제들의 협의를 위한 포럼 개최 및 기술, 환경, 인력, 사업규정에 대한 회원사의 의견을 정부에 전달</td>
		</tr>
		<tr>
			<td><a href="https://juraganslot.com/" target="_blank">민간발전사업자협회 (APLSI)</a></td>
			<td>민자발전사업자(IPP)와 정부간의 의사소통을 위한 포럼 제공</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</article>
</div>
</div>
<!-- wrapper --></div>
<!-- full-width --><!-- wrapper --><!-- full-width --><!-- wrapper --><!-- CHART --><script>
                  // GOOGLE CHART 패키지 불러오기
                  google.charts.load('current', {'packages':['corechart']});
                
                  // LINE CHART
                  google.charts.setOnLoadCallback(drawChart);
                
                  function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                      ['Year', 'Biomass and watse', 'Coal', 'Gas', 'Geothermal', 'Hydroelectricity', 'Nuclear', 'Oil', 'Solar', 'Tide and Wave', 'Wind'],
                      ['2007',  0.036,  60.62944889,  21.25455647,  7.021,   11.173,  0,   35.73999464,  0,       0,  0     ],  
                      ['2008',  0.047,  58.19771128,  23.89545394,  8.309,   11.413,  0,   40.61383478,  0.0004,  0,  0     ],
                      ['2009',  0.063,  61.94710148,  32.72130703,  9.295,   11.27,   0,   33.2195915,   0.0001,  0,  0     ],
                      ['2010',  0.095,  64.33807,     37.83204476,  9.357,   17.281,  0,   32.10088524,  0.001,   0,  0.004 ],
                      ['2011',  0.216,  76.22475072,  35.84885088,  9.371,   12.295,  0,   39.6473984,   0.001,   0,  0.005 ],
                      ['2012',  0.268,  96.03620113,  42.72589169,  9.42,    12.671,  0,   28.12390719,  0.003,   0,  0.005 ],
                      ['2013',  0.184,  104.5766686,  48.40050218,  9.41,    16.754,  0,   25.14682918,  0.005,   0,  0.001 ],
                      ['2014',  0.96,   112.3748495,  52.6704225,   10.04,   15.01,   0,   24.56072803,  0.007,   0,  0.001 ],
                      ['2015',  1.134,  122.67752,    55.36036,     10.05,   13.604,  0,   18.471,       0.005,   0,  0.004 ],
                      ['2016',  1.799,  127.23652,    61.75706,     10.656,  18.49,   0,   14.76176,     0.021,   0,  0.006 ],
                      ['2017',  0.829,  139.0025,     52.0008,      12.764,  18.446,  0,   18.24822,     0.029,   0,  0.006 ]
                    ]);
                
                    var options = {
                      title: '단위 : TWh',
                      titleTextStyle: {color: '#666666', bold: 'false'},
                      legend: { position: 'bottom' },
                      vAxis: {gridlines: {count: 6} },
                      colors: ['#4472C4','#ED7D31','#A5A5A5','#FFC000','#5B9BD5','#70AD47','#264478','#9E480E','#636363','#997300'],
                      lineWidth:3,
                      chartArea:{width:'90%'}
                    };
                
                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                    window.addEventListener('resize', drawChart, false); 
                
                    chart.draw(data, options);
                  }
                
                
                  // PIE CHART
                    google.charts.setOnLoadCallback(drawChartPie);
                
                    function drawChartPie() {
                
                      var data = google.visualization.arrayToDataTable([
                        ['Energy', 'Amount'],
                        ['Coal',            {v: 21.03, f:'21.03%'}],
                        ['Gas',             {v: 20.34, f:'20.34%'}],
                        ['Oil',             {v: 0.02, f:'0.02%'}],
                        ['Solar',           {v: 51.03, f:'51.03%'}],
                        ['etc.(RE source)', {v: 7.58, f:'7.58%'}]
                      ]);
                
                      var options = {
                        legend: {alignment:'center', position: 'bottom'},
                        sliceVisibilityThreshold: 0.0001,
                        enableInteractivity: true,
                        pieSliceText: 'value',
                        backgroundColor:{fill:'#fff', stroke:'#d9d9d9', strokeWidth:'2'},
                        chartArea:{width: '90%'},
                        fontsize: 14,
                        colors:['#4472C4', '#ED7D31', '#aaa', '#FFC000', '#5B9BD5'],
                        tooltip: {ignoreBounds:true, text:'value', trigger:'selection', textStyle: {color:'#000', fontSize: '14'}}
                      };
                
                
                      var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
                      chart.draw(data, options);
                      window.addEventListener('resize', drawChartPie, false); 
                
                      // legend(범례)에 mouseover 할 때도 tooltip 보여지도록.
                      function mouseOverHandler(selection) {
                        chart.setSelection([selection]);
                      }
                      function mouseOutHandler() {
                        chart.setSelection();
                      }
                      google.visualization.events.addListener(chart, 'onmouseover', mouseOverHandler);
                      google.visualization.events.addListener(chart, 'onmouseout', mouseOutHandler);
                
                
                  }
                </script><!-- END CHART -->

