<div class="full-width">
<div class="wrapper clearfix">
<article class="nationalInfo">
<h4 class="red-bullet">국가 정보</h4>

<div class="whBox clearfix">
<div class="clearfix national_name"><img alt="이탈리아국기" class="flag" src="/globalenergy/design/theme/bluebox/images/italy.png" /> <span> <span class="name_k">이탈리아</span><br />
<span class="name_e">Italy</span> </span></div>
<strong class="red_bar">국가 개황</strong>

<ul class="mid-dot">
	<li>면적 : 301천 ㎢(한반도의 1.4배)</li>
	<li>기후 : 지중해성</li>
	<li>인구 : 60.3백만 명(&#39;20)</li>
	<li>언어 : 이탈리아어(공용어), 독일어, 프랑스어</li>
	<li>종교 : 가톨릭(83%)</li>
	<li>산업구조 : 서비스업 74%, 제조업 24%, 농업 2%(&#39;19)</li>
	<li>주요 부존자원 : 석탄, 안티몬, 수은, 아연, 탄산칼륨, 대리석, 중정석, 석면, 부석, 형석, 장석, 황철석(유황), 천연가스, 석유, 어족자원</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar">주요 사업 환경 지표</strong>

<ul class="mid-dot">
	<li>기업경영여건 : 58th/190</li>
	<li>국제신인도 : Moody&#39;s Baa3, Fitch BBB-</li>
	<li>투자현황 (2019년 6월말 누계)
	<p class="hypen">신규 법인 수 : 140</p>

	<p class="hypen">투자금액 : 1,003,887 천 달러</p>
	</li>
	<li>1인당 GDP : 30,657 달러(&#39;20)</li>
	<li>경제성장률 : -10.6%(&#39;20)</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar mt20">투자보장/에너지협력 체결 현황</strong>

<ul class="mid-dot">
	<li>투자보장협정 : 1989년 1월 10일 체결</li>
</ul>
</div>
</article>

<div class="left_nation">
<article class="energyPlan">
<h4 class="red-bullet">에너지 계획</h4>

<div class="whBox clearfix"><strong class="red_bar">이탈리아 국가 에너지 전략</strong>

<div class="col-md-6">
<div class="subject">2030년 재생에너지 전력 믹스 (설치용량 기준)</div>

<div class="graph plan">
<div id="pie_chart">&nbsp;</div>
</div>

<p class="italic">Source : INTEGRATED NATIONAL ENERGY AND CLIMATE PLAN(NECP)</p>
</div>

<div class="col-md-6">
<div class="subject">이탈리아 국가 에너지 전략 2017</div>

<ul class="mid-dot">
	<li>2030년까지 최종 에너지 소비량 총 10Mtoe 절감</li>
	<li>2030년 재생에너지 비중, 에너지 소비의 28%, 전력 소비의 55% 달성</li>
	<li>에너지 공급 안보 및 에너지 자립도 향상</li>
	<li>유럽과의 에너지 가격 격차 축소</li>
	<li>지속가능한 공공 교통과 친환경 연료 사용 촉진</li>
	<li>2025년까지 전력 생산에서 석탄 사용 단계적 폐지</li>
</ul>
</div>
</div>
</article>

<article class="energyGov">
<h4 class="red-bullet">에너지 정부</h4>

<div class="whBox">
<div class="graph organization"><img alt="이탈리아 에너지 정부 조직도" src="/globalenergy/design/theme/bluebox/images/italyGov.png" /></div>
<a class="govmore" href="#">기관별 역할 보기<span>&nbsp;</span></a>

<div class="tableWrap">
<table>
	<caption class="hidden">이탈리아 에너지 정부의 기관명, 역할</caption>
	<colgroup>
		<col style="width: 25%" />
		<col style="width: 75%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">기관명</th>
			<th scope="col">역할</th>
		</tr>
	</thead>
	<tbody>
		<tr>
            <!-- 링크 이상있음 -->
			<td><a href="https://dgsaie.mise.gov.it/" target="_blank">생태전환부 (DGSAIE)</a></td>
			<td>에너지 및 광물 자원 가격, 소비 등 분석 및 통계 자료 제공</td>
		</tr>
		<tr>
            <!-- 링크 이상있음 -->
			<td><a href="https://www.gse.it/" target="_blank">전력청 (GSE)</a></td>
			<td>재생에너지 관련 인센티브 및 제도 관리, 에너지 관련 연구, 통계 수행</td>
		</tr>
		<tr>
			<td><a href="https://www.arera.it/" target="_blank">에너지, 네트워크, 환경 규제국 (ARERA)</a></td>
			<td>전기, 천연 가스, 수도 서비스, 폐기물 순환, 열 부문 규제 및 제어 활동 수행</td>
		</tr>
		<tr>
			<td><a href="https://www.mimit.gov.it/it/" target="_blank">경제개발부 (MISE)</a></td>
			<td>생산, 경제활동, 에너지 및 광물 자원, 통신, 소비자, 관광 등의 투자 인센티브 시행</td>
		</tr>
		<tr>
			<td><a href="https://www.invitalia.it/" target="_blank">국가개발청 (Invitalia)</a></td>
			<td>경제개발부 산하, 인센티브 제도 실행 및 프로젝트 자금 지원</td>
		</tr>
		<tr>
			<td><a href="https://www.ice.it/it" target="_blank">무역투자청 (ITA)</a></td>
			<td>해외사업 개발 지원, 외국인 투자 유치 촉진, 중소기업에 컨설팅 및 교육 제공</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</article>
</div>
</div>
<!-- wrapper --></div>
<!-- full-width --><!-- wrapper --><!-- CHART --><script>
    // GOOGLE CHART 패키지 불러오기
    google.charts.load("current", { packages: ["corechart"] });

    // LINE CHART
    //google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["Year", "Biomass and watse", "Coal", "Gas", "Hydroelectricity", "Oil", "Solar", "Wind"],
            ["2007", 0, 11.2591, 3.4981, 2.34, 0.3398, 0, 0.001],
            ["2008", 0, 11.1859, 3.574, 2.35, 0.3371, 0, 0.001],
            ["2009", 0, 11.1783, 3.583, 2.36, 0.3357, 0, 0.001],
            ["2010", 0, 12.2152, 3.9603, 2.36, 0.3645, 0, 0.001],
            ["2011", 0, 12.2367, 3.9974, 2.51, 0.3629, 0, 0.002],
            ["2012", 0, 12.2289, 4.0894, 2.66, 0.3648, 0, 0.002],
            ["2013", 0.0003, 12.2738, 4.1038, 2.675, 0.3703, 0.0005, 0.006],
            ["2014", 0.0004, 12.3094, 4.1663, 2.675, 0.3693, 0.005, 0.053],
            ["2015", 0.0004, 13.637, 4.6574, 2.68, 0.4056, 0.057, 0.072],
            ["2016", 0.0004, 14.318, 4.8657, 2.7, 0.4163, 0.057, 0.098],
            ["2017", 0.0001, 14.0391, 4.765, 2.73, 0.4129, 0.059, 0.112],
        ]);

        var options = {
            title: "단위 : TWh",
            titleTextStyle: { color: "#666666", bold: "false" },
            legend: { position: "bottom" },
            vAxis: { gridlines: { count: 6 } },
            colors: ["#4472C4", "#ED7D31", "#A5A5A5", "#FFC000", "#5B9BD5", "#70AD47", "#264478"],
            lineWidth: 3,
            chartArea: { width: "90%" },
        };

        var chart = new google.visualization.LineChart(document.getElementById("curve_chart"));
        window.addEventListener("resize", drawChart, false);
        chart.draw(data, options);
    }

    // PIE CHART
    google.charts.setOnLoadCallback(drawChartPie);

    function drawChartPie() {
        var data = google.visualization.arrayToDataTable([
            ["Energy", "Amount"],
            ["Hydropower", { v: 20.2, f: "20.2%" }],
            ["Geotherm", { v: 1.0, f: "1.0%" }],
            ["Wind", { v: 20.3, f: "20.3%" }],
            ["Bioenergy", { v: 3.9, f: "3.9%" }],
            ["Solar", { v: 54.6, f: "54.6%" }],
        ]);

        var options = {
            legend: { alignment: "center", position: "bottom" },
            sliceVisibilityThreshold: 0.0001,
            enableInteractivity: true,
            pieSliceText: "value",
            backgroundColor: { fill: "#fff", stroke: "#d9d9d9", strokeWidth: "2" },
            chartArea: { width: "90%" },
            fontsize: 14,
            colors: ["#4472c4", "#ED7D31", "#aaa", "#FFC000", "#5B9BD5", "#70AD47"],
            tooltip: { ignoreBounds: true, text: "value", trigger: "selection", textStyle: { color: "#000", fontSize: "14" } },
        };

        var chart = new google.visualization.PieChart(document.getElementById("pie_chart"));
        window.addEventListener("resize", drawChartPie, false);
        chart.draw(data, options);

        // legend(범례)에 mouseover 할 때도 tooltip 보여지도록.
        function mouseOverHandler(selection) {
            chart.setSelection([selection]);
        }
        function mouseOutHandler() {
            chart.setSelection();
        }
        google.visualization.events.addListener(chart, "onmouseover", mouseOverHandler);
        google.visualization.events.addListener(chart, "onmouseout", mouseOutHandler);
    }
</script><!-- END CHART -->

