<div class="full-width">
<div class="wrapper clearfix">
<article class="nationalInfo">
<h4 class="red-bullet">국가 정보</h4>

<div class="whBox clearfix">
<div class="clearfix national_name"><img alt="일본국기" class="flag" height="97" src="/globalenergy/design/theme/bluebox/images/japan.png" width="140" /> <span> <span class="name_k">일본</span><br />
<span class="name_e">Japan</span> </span></div>
<strong class="red_bar">국가 개황</strong>

<ul class="mid-dot">
	<li>면적 : 378천 ㎢(한반도의 1.7배)</li>
	<li>기후 : 해양성</li>
	<li>인구 : 1.3억 명(&#39;19)</li>
	<li>언어 : 일본어</li>
	<li>종교 : 신도(70%), 불교(70%), 다수가 복수의 종교를 가짐</li>
	<li>산업구조 : 서비스업 69%, 제조업 30%, 농업 1%(&#39;17)</li>
	<li>주요 부존자원 : 어류</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar">주요 사업 환경 지표</strong>

<ul class="mid-dot">
	<li>기업경영여건 : 29th/190</li>
	<li>국제신인도 : Moody&#39;s A1, Fitch A</li>
	<li>투자현황 (2019년 6월말 누계)
	<p class="hypen">신규 법인 수 : 3,810</p>

	<p class="hypen">투자금액 : 9,575,712 천 달러</p>
	</li>
	<li>1인당 GDP : 43,043 달러(&#39;20)</li>
	<li>경제성장률 : 0.5%(&#39;20)</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar mt20">투자보장/에너지협력 체결 현황</strong>

<ul class="mid-dot">
	<li>투자보장협정 : 2002년 3월 22일 체결</li>
</ul>
</div>
</article>

<div class="left_nation">
<article class="energyMix">
<h4 class="red-bullet">에너지원별 발전 현황</h4>

<div class="whBox">
<div class="graph mix">
<div id="curve_chart">&nbsp;</div>
</div>

<p class="italic">Source : EIA (2020 Sep.)</p>
</div>
</article>

<article class="energyPlan">
<h4 class="red-bullet">에너지 계획</h4>

<div class="whBox clearfix"><strong class="red_bar">일본 에너지 계획</strong>

<div class="col-md-6">
<div class="subject">2030 에너지 믹스</div>

<div class="graph plan">
<div id="pie_chart">&nbsp;</div>
</div>

<p class="italic">Source : Long-Term Energy Supply and Demand Outlook</p>
</div>

<div class="col-md-6">
<div class="subject">5차 전략적 에너지 계획 주요 방향</div>
<strong>일본 에너지 계획의 주요 관점 : 3E+S</strong>

<ul class="mid-dot">
	<li>에너지 안보(Energy Security)<br />
	: 자원 자급률 및 기술 자급률 제고 및 선택의 다양성 확보</li>
	<li>환경(Environment)<br />
	: 환경 적합성 및 탈탄소화를 위한 노력</li>
	<li>경제 효율성(Economic Efficiency)<br />
	: 국민의 비용 부담 완화 및 국내 산업경쟁력 강화</li>
	<li>안전(Safety)<br />
	: 안전을 최우선으로, 기술/지배구조 개혁을 통한 혁신 달성</li>
</ul>
</div>
</div>
</article>

<article class="energyGov">
<h4 class="red-bullet">에너지 정부</h4>

<div class="whBox">
<div class="graph organization"><img alt="일본 에너지 정부 조직도" src="/globalenergy/design/theme/bluebox/images/japanGov.png" /></div>
<a class="govmore" href="#">기관별 역할 보기<span>&nbsp;</span></a>

<div class="tableWrap">
<table>
	<caption class="hidden">일본 에너지 정부의 기관명, 역할</caption>
	<colgroup>
		<col style="width:25%" />
		<col style="width:75%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">기관명</th>
			<th scope="col">역할</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://www.meti.go.jp/" target="_blank">경제산업성 (METI) </a></td>
			<td>에너지 기본정책법에 근거한 에너지 계획 수립 및 발표, 광물 자원 및 에너지의 안정적이고 효율적인 제공을 위한 정책 수립</td>
		</tr>
		<tr>
			<td><a href="https://www.nedo.go.jp/" target="_blank">신에너지산업기술종합개발기구 (NEDO)</a></td>
			<td>에너지 및 환경 문제를 해결하고 산업, 학계 및 정부의 공동 노력을 통합하여 산업 기술을 향상시키기 위한 기술 개발 및 실증 활동 수행</td>
		</tr>
		<tr>
			<td><a href="https://www.env.go.jp/" target="_blank">환경성 (MOE)</a></td>
			<td>지구온난화, 국제환경협력, 폐기물 등의 자원순환 정책과 관련된 전반적인 환경 보전 정책 기획 및 추진</td>
		</tr>
		<tr>
			<td><a href="https://www.occto.or.jp/" target="_blank">광역계통운영기관 (OCCTO)</a></td>
			<td>수급계획, 계통계획의 수립 및 작성, 송전 인프라 증강과 전국권의 계통운영 도모</td>
		</tr>
		<tr>
			<td><a href="https://www.jepx.jp/en/" target="_blank">일본 전력 거래소 (JEPX)</a></td>
			<td>현물시장, 선물시장, 비화석가치거래시장 등 다양한 상품을 다루는 일본의 도매 전력 거래 시장</td>
		</tr>
		<tr>
			<td><a href="https://www.mofa.go.jp/" target="_blank">외무성 (MOFA)</a></td>
			<td>에너지부문의 국제협력을 통한 에너지 안보 강화</td>
		</tr>
		<tr>
			<td><a href="https://www.mlit.go.jp/" target="_blank">국토교통성 (MLIT)</a></td>
			<td>해상 풍력 발전 단지를 건설하고 운영할 수 있도록 법률적 방안 마련</td>
		</tr>
		<tr>
			<td><a href="https://www.jetro.go.jp/" target="_blank">일본무역진흥기구(JETRO)</a></td>
			<td>일본 정부의 대외무역 진흥을 위하여 설립, 에너지 분야 뿐만 아니라 모든 산업에 대한 수출, 해외 진출, 외국 기업 유치 등의 활동 수행</td>
		</tr>
		<tr>
			<td><a href="https://www.enecho.meti.go.jp/" target="_blank">자원에너지청(ANRE)</a></td>
			<td>광물 자원 및 에너지의 안정적이고 효율적인 공급 확보를 위한 노력과 자원의 적정한 이용 추진</td>
		</tr>
		<tr>
			<!-- 해당 링크 이상이 있음 -->
			<td><a href="https://www.emsc.meti.go.jp/" target="_blank">전력&middot;가스거래 감시위원회 (EGC)</a></td>
			<td>전력 및 가스 시장에 대한 적절한 모니터링을 수행하고, 전력 및 가스 네트워크의 중립성을 보장하기 위한 규정 시행</td>
		</tr>
		<tr>
			<td><a href="https://www.nra.go.jp/" target="_blank">원자력 규제위원회 (NRA)</a></td>
			<td>후쿠시마 원전 사고 이후 설립, 원자력 안전의 확보로 일본의 안전보장에 이바지</td>
		</tr>
		<tr>
			<td><a href="https://www.jera.co.jp/" target="_blank">제라 (JERA)</a></td>
			<td>도쿄전력과 주부전력의 합작사인 일본 최대의 발전 회사로 화력, 신재생, 가스 발전 및 관련 엔지니어링과 컨설팅 수행</td>
		</tr>
		<tr>
			<td><a href="https://www.jepic.or.jp/" target="_blank">일본 전력 정보 센터 (JEPIC)</a></td>
			<td>전 세계 전력 회사와 협력하여 정보를 교환하고, 개발 도상국과 협력하여 전력 인프라를 구축</td>
		</tr>
		<tr>
			<td><a href="https://www.fepc.or.jp/" target="_blank">전력 사업자 연합 (FEPC)</a></td>
			<td>10개의 전력 회사가 전력 산업의 적절한 기능을 보장하기 위해 설립, 에너지 산업의 안정적 운영을 위한 다양한 활동 수행</td>
		</tr>
		<tr>
			<td><a href="https://www.japc.co.jp/" target="_blank">일본원자력발전 (JAPC)</a></td>
			<td>일본에서 원자력만을 전담하는 유일한 전력 회사로 상업용 원자력 발전소 건설, 운영, 해체 등 다양한 프로젝트를 수행</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</article>
</div>
</div>
<!-- wrapper --></div>
<!-- full-width --><!-- wrapper --><!-- CHART --><script>
                  // GOOGLE CHART 패키지 불러오기
                  google.charts.load('current', {'packages':['corechart']});
                
                  // LINE CHART
                  google.charts.setOnLoadCallback(drawChart);
                
                  function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                      ['Year', 'Biomass and watse', 'Coal', 'Gas', 'Hydroelectricity', 'Nuclear', 'Oil', 'Solar', 'Tide and Wave', 'Wind'],
                      ['2007',  2.545,  49.7175867445368,  72.5775488078241,  47.313,  47.474,   54.5978644476391,  1.919,   0.532,  1.527 ],  
                      ['2008',  2.51,   49.891479831014,   75.173875757369,   47.341,  47.278,   54.2586444116171,  2.144,   0.532,  1.756 ],
                      ['2009',  2.69,   49.7545310871882,  78.1315649080522,  47.243,  46.821,   53.8499040047595,  2.627,   0.535,  1.997 ],
                      ['2010',  2.832,  50.212869184445,   79.7504909091586,  47.736,  46.821,   53.0816399063965,  3.618,   0.537,  2.294 ],
                      ['2011',  3.043,  50.983534127718,   81.2448880302808,  48.418,  44.215,   53.7905778420012,  4.914,   0.537,  2.419 ],
                      ['2012',  2.417,  50.1920581264213,  85.015341758905,   48.934,  44.215,   54.3956001146738,  6.43,    0.512,  2.562 ],
                      ['2013',  2.391,  51.3975799363544,  88.368788832723,   48.932,  42.388,   52.1796312309226,  12.107,  0.512,  2.645 ],
                      ['2014',  2.532,  50.222614518197,   92.2188339238275,  49.597,  0,        51.6905515579755,  19.334,  0.508,  2.753 ],
                      ['2015',  2.826,  49.0331145641364,  91.8450250649297,  50.035,  1.692,    50.6838603709339,  28.615,  0.516,  2.808 ],
                      ['2016',  3.158,  49.75377874959,    95.1461907909267,  50.117,  2.538,    50.2420304594834,  38.438,  0.526,  3.247 ],
                      ['2017',  3.568,  49.7772543702222,  95.5503352267299,  50.014,  4.198,    48.1964104030479,  44.226,  0.531,  3.483 ]
                    ]);
                
                    var options = {
                      title: '단위 : TWh',
                      titleTextStyle: {color: '#666666', bold: 'false'},
                      legend: { position: 'bottom' },
                      vAxis: {gridlines: {count: 6} },
                      colors: ['#4472C4','#ED7D31','#A5A5A5','#5B9BD5','#70AD47','#264478','#9E480E','#636363','#997300'],
                      lineWidth:3,
                      chartArea:{width:'90%'}
                    };
                
                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                    window.addEventListener('resize', drawChart, false); 
                    chart.draw(data, options);
                  }
                
                
                  // PIE CHART
                    google.charts.setOnLoadCallback(drawChartPie);
                
                    function drawChartPie() {
                
                      var data = google.visualization.arrayToDataTable([
                        ['Energy', 'Amount'],
                        ['Coal',                 {v: 25, f:'25%'}],
                        ['NaturalGas',           {v: 18, f:'18%'}],
                        ['LPG',                  {v: 3, f:'3%'}],
                        ['Oil',                  {v: 30, f:'30%'}],
                        ['Nuclear',              {v: 10.5, f:'10.5%'}],
                        ['Renewables',           {v: 13.5, f:'13.5%'}]
                        
                      ]);
                
                      var options = {
                        legend: {alignment:'center', position: 'bottom'},
                        sliceVisibilityThreshold: 0.0001,
                        enableInteractivity: true,
                        pieSliceText: 'value',
                        backgroundColor:{fill:'#fff', stroke:'#d9d9d9', strokeWidth:'2'},
                        chartArea:{width: '90%'},
                        fontsize: 14,
                        colors:['#4472C4', '#ED7D31', '#aaa', '#FFC000', '#5B9BD5','#70AD47'],
                        tooltip: {ignoreBounds:true, text:'value', trigger:'selection', textStyle: {color:'#000', fontSize: '14'}}
                      };
                
                
                      var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
                      window.addEventListener('resize', drawChartPie, false); 
                      chart.draw(data, options);
                
                      // legend(범례)에 mouseover 할 때도 tooltip 보여지도록.
                      function mouseOverHandler(selection) {
                        chart.setSelection([selection]);
                      }
                      function mouseOutHandler() {
                        chart.setSelection();      }
                      google.visualization.events.addListener(chart, 'onmouseover', mouseOverHandler);
                      google.visualization.events.addListener(chart, 'onmouseout', mouseOutHandler);
                
                
                  }
                </script><!-- END CHART -->

