<div class="full-width">
<div class="wrapper clearfix">
<article class="nationalInfo">
<h4 class="red-bullet">국가 정보</h4>

<div class="whBox clearfix">
<div class="clearfix national_name"><img alt="카자흐스탄국기" class="flag" height="97" src="/globalenergy/design/theme/bluebox/images/kazakh.png" width="140" /> <span> <span class="name_k">카자흐스탄</span><br />
<span class="name_e">Kazakhstan</span> </span></div>
<strong class="red_bar">국가 개황</strong>

<ul class="mid-dot">
	<li>면적 : 2,725천 ㎢(한반도의 12.3배)</li>
	<li>기후 : 대륙성, 건조(반건조)</li>
	<li>인구 : 18.6백만 명(&#39;19)</li>
	<li>언어 : 카자흐어(공용어), 러시아어(공용어)</li>
	<li>종교 : 이슬람교(70%), 러시아정교회(26%)</li>
	<li>산업구조 : 서비스업 61%, 제조업 34%, 농업 5%(&#39;17)</li>
	<li>주요 부존자원 : 석유, 천연가스, 석탄, 철광석, 망간, 크롬광, 니켈, 코발트, 구리, 몰리브덴</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar">주요 사업 환경 지표</strong>

<ul class="mid-dot">
	<li>기업경영여건 : 25th/190</li>
	<li>국제신인도 : OECD 5등급, Moody&#39;s Baa3, Fitch BBB</li>
	<li>투자현황 (2019년 6월말 누계)
	<p class="hypen">신규 법인 수 : 317</p>

	<p class="hypen">투자금액 : 2,623,849 천 달러</p>
	</li>
	<li>1인당 GDP : 9,672 달러(&#39;20)</li>
	<li>경제성장률 : 3.9%(&#39;20)</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar mt20">투자보장/에너지협력 체결 현황</strong>

<ul class="mid-dot">
	<li>투자보장협정 : 1996년 3월 20일 체결</li>
</ul>
</div>
</article>

<div class="left_nation">
<article class="energyMix">
<h4 class="red-bullet">에너지원별 발전 현황</h4>

<div class="whBox">
<div class="graph mix">
<div id="curve_chart">&nbsp;</div>
</div>

<p class="italic">Source : EIA (2020 Sep.)</p>
</div>
</article>

<article class="energyPlan">
<h4 class="red-bullet">에너지 계획</h4>

<div class="whBox clearfix"><strong class="red_bar">카자흐스탄 에너지 계획</strong>

<div class="col-md-6">
<div class="subject">2050년 에너지 믹스</div>

<div class="graph plan">
<div id="pie_chart">&nbsp;</div>
</div>

<p class="italic">Source : KAZENERGY</p>
</div>

<div class="col-md-6">
<div class="subject">카자흐스탄 에너지 계획</div>

<ul class="mid-dot">
	<li><strong>재생에너지 확대 목표</strong><br />
	<p class="hypen">2030년까지 전력 생산에서 재생에너지 비중을 15%로 확대하는 것을 목표로 합니다.</p>
	<p class="hypen">2050년까지 재생에너지 비중을 최소 50%까지 증가시키는 것을 목표로 합니다.</p>
	<p class="hypen">주요 재생에너지원은 풍력, 태양광, 수력입니다.</p>
	<p class="hypen">바이오에너지 및 지열 등 기타 에너지원의 다변화도 추구합니다.</p>
	</li>
	<li><strong>에너지 효율성 향상</strong><br />
	<p class="hypen">GDP 단위당 에너지 소비량을 감소시키는 것을 목표로 에너지 집약도를 줄입니다.</p>
	<p class="hypen">건물, 산업, 교통 부문의 효율성을 개선하기 위해 관련 기술 및 장비 보급을 확대합니다.</p>
	<p class="hypen">정부 및 민간 부문 간 협력을 강화하여 에너지 소비 감축 프로그램을 운영합니다.</p>
	</li>
	<li><strong>에너지 전환 로드맵</strong><br />
	<p class="hypen">석탄 발전의 단계적 축소를 계획합니다.</p>
	<p class="hypen">천연가스를 '전환 연료'로 활용합니다.</p>
	<p class="hypen">장기적으로 원자력 및 수소에너지 기술 도입을 고려합니다.</p>
	<p class="hypen">2050년까지 약 1,400MW 규모의 원자력 발전소 도입을 계획합니다.</p>
	</li>
</ul>
</div>
</div>
</article>

<article class="energyGov">
<h4 class="red-bullet">에너지 정부</h4>

<div class="whBox">
<div class="graph organization"><img alt="카자흐스탄 에너지 정부 조직도" src="/globalenergy/design/theme/bluebox/images/kazakhGov.png" /></div>
<a class="govmore" href="#">기관별 역할 보기<span>&nbsp;</span></a>

<div class="tableWrap">
<table>
	<caption class="hidden">카자흐스탄 에너지 정부의 기관명, 역할</caption>
	<colgroup>
		<col style="width:25%" />
		<col style="width:75%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">기관명</th>
			<th scope="col">역할</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://www.gov.kz/memleket/entities/energo" target="_blank">에너지부</a></td>
			<td>국가 정책 수행, 석유화학 산업 및 석유 제품 생산, 가스 공급에 대한 국가 규제 조정, 재생에너지원 개발</td>
		</tr>
		<tr>
			<td><a href="https://www.kegoc.kz/" target="_blank">카자흐스탄 송전망공사 (KEGOC)</a></td>
			<td>통합 전력 시스템의 안정적인 운영, 재생에너지원을 지원하기 위해 전기를 조달 및 판매</td>
		</tr>
		<tr>
			<td><a href="https://www.gov.kz/memleket/entities/mfa" target="_blank">외무부</a></td>
			<td>카자흐스탄 공화국 외교 사절의 통일된 시스템 관리, 투자 유치를 위한 국가 정책 시행</td>
		</tr>
		<tr>
			<td><a href="https://www.gov.kz/memleket/entities/mti" target="_blank">무역통합부</a></td>
			<td>상품 및 서비스의 수출 개발 및 촉진, 국내 무역의 개발 및 규제, 무역 인프라 개선</td>
		</tr>
		<tr>
      <!-- 링크 이상있음 -->
			<td><a href="https://rfc.kegoc.kz/" target="_blank">신재생에너지금융결제센터 LPP (FSC RES LPP)</a></td>
			<td>재생에너지원에 의해 생산되는 전력의 중앙 집중식 구매 및 판매 운영</td>
		</tr>
		<tr>
			<td><a href="https://invest.gov.kz/" target="_blank">카자흐스탄 투자<br />
        (KAZAKH INVEST)</a></td>
			<td>경제 우선 부문에 대한 외국인 투자 유치 및 투자 프로젝트를 포괄적 지원</td>
		</tr>
		<tr>
			<td><a href="https://www.nca.kz/" target="_blank">국립인증센터 (NCA)</a></td>
			<td>카자흐스탄 무역통합부 산하의 적합성평가 분야 인증 기관</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</article>
</div>
</div>
<!-- wrapper --></div>
<!-- full-width --><!-- wrapper --><!-- CHART --><script>
                  // GOOGLE CHART 패키지 불러오기
                  google.charts.load('current', {'packages':['corechart']});
                
                  // LINE CHART
                  google.charts.setOnLoadCallback(drawChart);
                
                  function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                      ['Year', 'Biomass and watse', 'Coal', 'Gas', 'Hydroelectricity', 'Oil', 'Solar', 'Wind'],
                      ['2007',  0,      11.2591,  3.4981,   2.34,    0.3398,   0,      0.001    ], 
                      ['2008',  0,      11.1859,  3.5740,   2.35,    0.3371,   0,      0.001    ],
                      ['2009',  0,      11.1783,  3.583,    2.36,    0.3357,   0,      0.001    ],
                      ['2010',  0,      12.2152,  3.9603,   2.36,    0.3645,   0,      0.001  ],
                      ['2011',  0,      12.2367,  3.9974,   2.51,    0.3629,   0,      0.002  ],
                      ['2012',  0,      12.2289,  4.0894,   2.66,    0.3648,   0,      0.002  ],
                      ['2013',  0.0003, 12.2738,  4.1038,   2.675,   0.3703,   0.0005, 0.006  ],
                      ['2014',  0.0004, 12.3094,  4.1663,   2.675,   0.3693,   0.005,  0.053  ],
                      ['2015',  0.0004, 13.6370,  4.6574,   2.68,    0.4056,   0.057,  0.072 ],
                      ['2016',  0.0004, 14.3180,  4.8657,   2.7,     0.4163,   0.057,  0.098 ],
                      ['2017',  0.0001, 14.0391,  4.765,    2.73,    0.4129,   0.059,  0.112 ]
                    ]);
                    
                    var options = {
                      title: '단위 : TWh',
                      titleTextStyle: {color: '#666666', bold: 'false'},
                      legend: { position: 'bottom' },
                      vAxis: {gridlines: {count: 6} },
                      colors: ['#4472C4','#ED7D31','#A5A5A5','#FFC000','#5B9BD5','#70AD47','#264478'],
                      lineWidth:3,
                      chartArea:{width:'90%'}
                    };
                
                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                    window.addEventListener('resize', drawChart, false); 
                    chart.draw(data, options);
                  }
                
                
                  // PIE CHART
                    google.charts.setOnLoadCallback(drawChartPie);
                
                    function drawChartPie() {
                
                      var data = google.visualization.arrayToDataTable([
                        ['Energy', 'Amount'],
                        ['Coal',                 {v: 20, f:'20%'}],
                        ['Gas',                  {v: 16, f:'16%'}],
                        ['Hydro',                {v: 12, f:'12%'}],
                        ['Nuclear',              {v: 5, f:'5%'}],
                        ['Solar',                {v: 24, f:'24%'}],
                        ['Wind',                 {v: 23, f:'23%'}]
                        
                      ]);
                
                      var options = {
                        legend: {alignment:'center', position: 'bottom'},
                        sliceVisibilityThreshold: 0.0001,
                        enableInteractivity: true,
                        pieSliceText: 'value',
                        backgroundColor:{fill:'#fff', stroke:'#d9d9d9', strokeWidth:'2'},
                        chartArea:{width: '90%'},
                        fontsize: 14,
                        colors:['#4472C4', '#ED7D31', '#aaa', '#FFC000', '#5B9BD5','#70AD47'],
                        tooltip: {ignoreBounds:true, text:'value', trigger:'selection', textStyle: {color:'#000', fontSize: '14'}}
                      };
                
                
                      var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
                      window.addEventListener('resize', drawChartPie, false); 
                      chart.draw(data, options);
                
                      // legend(범례)에 mouseover 할 때도 tooltip 보여지도록.
                      function mouseOverHandler(selection) {
                        chart.setSelection([selection]);
                      }
                      function mouseOutHandler() {
                        chart.setSelection();      
                      }
                      google.visualization.events.addListener(chart, 'onmouseover', mouseOverHandler);
                      google.visualization.events.addListener(chart, 'onmouseout', mouseOutHandler);
                
                
                  }
                </script><!-- END CHART -->

