<div class="full-width">
<div class="wrapper clearfix">
<article class="nationalInfo">
<h4 class="red-bullet">국가 정보</h4>

<div class="whBox clearfix">
<div class="clearfix national_name"><img alt="말레이시아국기" class="flag" height="97" src="/globalenergy/design/theme/bluebox/images/malaysia.png" width="140" /> <span> <span class="name_k">말레이시아</span><br />
<span class="name_e">Malaysia</span> </span></div>
<strong class="red_bar">국가 개황</strong>

<ul class="mid-dot">
	<li>면적 : 330천 ㎢ (한반도의 1.5배)</li>
	<li>기후 : 고온다습한 열대</li>
	<li>인구 : 32.8백만 명(&#39;19)</li>
	<li>언어 : 말레이어(공용어), 영어, 중국어</li>
	<li>종교 : 이슬람교(61%), 불교(20%), 기독교(9%), 힌두교(6%)</li>
	<li>산업구조 : 서비스업 54%, 제조업 38%, 농업 8%(&#39;17)</li>
	<li>주요 부존자원 : 주석, 석유, 목재, 구리, 철광석, 천연가스, 보크사이트</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar">주요 사업 환경 지표</strong>

<ul class="mid-dot">
	<li>기업경영여건 : 12th/190</li>
	<li>국제신인도 : OECD 2등급, Moody&#39;s A3, Fitch A-</li>
	<li>투자현황 (2019년 6월말 누계)
	<p class="hypen">신규 법인 수 : 897</p>

	<p class="hypen">투자금액 : 5,381,669 천 달러</p>
	</li>
	<li>1인당 GDP : 11,485 달러 (&#39;20)</li>
	<li>경제성장률 : 4.4% (&#39;20)</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar mt20">투자보장/에너지협력 체결 현황</strong>

<ul class="mid-dot">
	<li>투자보장협정 : 1988년 4월 11일 체결</li>
</ul>
</div>
</article>

<div class="left_nation">
<article class="energyMix">
<h4 class="red-bullet">에너지원별 발전 현황</h4>

<div class="whBox">
<div class="graph mix"><img alt="MalaysiaEnergyMix" src="/globalenergy/design/theme/bluebox/images/MalaysiaEnergyMix.png" />
<div id="curve_chart">&nbsp;</div>
</div>

<p class="italic">Source : EIA (2020 Sep.)</p>
</div>
</article>

<article class="energyPlan">
<h4 class="red-bullet">에너지 계획</h4>

<div class="whBox clearfix"><strong class="red_bar">말레이시아 전력개발 계획 2019 (2020-2030)</strong>

<div class="col-md-6">
<div class="subject">2020 전력 믹스(설치용량 기준)</div>

<div class="graph plan"><img alt="MalaysiaEnergyPlan" src="/globalenergy/design/theme/bluebox/images/MalaysiaEnergyPlan.png" />
<div id="pie_chart">&nbsp;</div>
</div>

<p class="italic">Source : Generation Development Plan 2019 (2020 &ndash; 2030)</p>
</div>

<div class="col-md-6">
<div class="subject">제11차 말레이시아 계획(2016-2020) 에너지 부문 주요 방향</div>

<ul class="mid-dot">
	<li>기후 변화 및 자연 재해에 대한 탄력성 강화</li>
	<li>녹색 성장 가능 환경 강화</li>
	<li>현재와 미래 세대를 위한 천연자원 보존</li>
	<li>소비 및 생산에 지속가능 개념 적용</li>
	<li>지속가능한 에너지 사용을 장려한 성장 지원</li>
	<li>2025년 까지 재생 가능 에너지(RE) 발전 용량 20%, 3,758MW 증설 목표</li>
</ul>
</div>
</div>
</article>

<article class="energyGov">
<h4 class="red-bullet">에너지 정부</h4>

<div class="whBox">
<div class="graph organization"><img alt="말레이시아 에너지 정부 조직도" src="/globalenergy/design/theme/bluebox/images/MalaysiaGov.png" /></div>
<a class="govmore" href="#">기관별 역할 보기<span>&nbsp;</span></a>

<div class="tableWrap">
<table>
	<caption class="hidden">말레이시아 에너지 정부의 기관명, 역할</caption>
	<colgroup>
		<col style="width:25%" />
		<col style="width:75%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">기관명</th>
			<th scope="col">역할</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<!-- 링크 이상있음 -->
			<td><a href="https://www.pmo.gov.my/" target="_blank">총리실 (PMO)</a></td>
			<td>에너지 부문을 포함한 말레이시아 국가개발계획 및 정책 수립 조율</td>
		</tr>
		<tr>
			<td><a href="https://www.mosti.gov.my/" target="_blank">과학기술혁신부 (MOSTI)</a></td>
			<td>에너지 분야 정책 입안 및 이행</td>
		</tr>
		<tr>
			<td><a href="https://www.mof.gov.my/portal/en" target="_blank">재무부 (MOF)</a></td>
			<td>말레이시아 정부 지출 및 수익 제고에 대한 책임</td>
		</tr>
		<tr>
			<td><a href="https://www.bnm.gov.my/" target="_blank">중앙은행(BNM)</a></td>
			<td>에너지 관련 프로젝트에 대한 자금 지원</td>
		</tr>
		<tr>
			<td><a href="https://www.miti.gov.my/" target="_blank">국제산업통상부 (MITI)</a></td>
			<td>석유 제품 관련 활동에 대한 라이선스 등 에너지산업 관련 경제적, 기술적 규제</td>
		</tr>
		<tr>
			<!-- 링크 이상있음 -->
			<td><a href="http://kpdnhep.gov.my/" target="_blank">국내소비통상부 (KPDNHEP)</a></td>
			<td>석유제품 가격 등 석유제품 관련 경제적, 기술적 규제</td>
		</tr>
		<tr>
			<td><a href="https://www.mgtc.gov.my/" target="_blank">녹색기술 및 기후변화 센터 (MGTC)</a></td>
			<td>녹색 성장, 기후변화 완화, 기후 회복력 및 적응 분야 전담, 녹색 인센티브 및 인증 지원</td>
		</tr>
		<tr>
			<td><a href="https://www.seda.gov.my/" target="_blank">지속가능에너지 개발기구 (SEDA)</a></td>
			<td>발전차액지원제도(FiT) 및 순 에너지 계측(NEM) 프로그램 실행 운영 및 관리</td>
		</tr>
		<tr>
			<td><a href="https://www.st.gov.my/" target="_blank">에너지위원회 (ST)</a></td>
			<td>에너지 부문 경제적, 기술적 규제</td>
		</tr>
		<tr>
			<td><a href="https://www.mida.gov.my/" target="_blank">투자진흥청 (MIDA)</a></td>
			<td>녹색산업 투자 외국기업에 세제 혜택 및 수입세 면제 등 지원, 외국인투자유치 전담기관</td>
		</tr>
		<tr>
			<td><a href="https://www.sirim.my/" target="_blank">표준산업연구원 (SIRIM)</a></td>
			<td>산업 연구 및 개발, 제품 표준 및 품질관리</td>
		</tr>
		<tr>
			<td><a href="https://www.tnb.com.my/" target="_blank">국영전력공사 (TNB)</a></td>
			<td>기업, 가정 및 산업에 전기 공급하는 국영 전력기업</td>
		</tr>
		<tr>
			<td><a href="https://www.petronas.com/" target="_blank">국영석유가스공사(Petronas)</a></td>
			<td>석유, 가스자원 관련 사업을 담당하는 국영기업</td>
		</tr>
		<tr>
			<!-- 링크 이상있음 -->
			<td><a href="http://sophicauto.ddns.net/tnbfloat/about-mesita.html" target="_blank">전력공급산업 신탁 계좌 (MESITA)</a></td>
			<td>에너지 효율 프로젝트, R&amp;D프로그램 및 신재생에너지 프로젝트 등 전기 공급 산업 운영을 위한 신탁 계좌</td>
		</tr>
		<tr>
			<td><a href="https://www.petra.gov.my/" target="_blank">에너지 전환 및 수자원 변환부 (PETRA)</a></td>
			<td>에너지, 수자원 분야의 '전환'을 종합 총괄</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</article>
</div>
</div>
<!-- wrapper --></div>
<!-- full-width --><!-- wrapper --><!-- CHART --><script>
                  // GOOGLE CHART 패키지 불러오기
                  google.charts.load('current', {'packages':['corechart']});
                
                  // LINE CHART
                  google.charts.setOnLoadCallback(drawChart);
                
                  function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                      ['Year', 'Biomass and watse', 'Coal', 'Gas', 'Geothermal', 'Hydroelectricity', 'Nuclear', 'Oil', 'Solar', 'Tide and Wave', 'Wind'],
                      ['2007',  0,      25.38954837,  58.06883933,  0,  6.425,   0,   2.105612304,  0.008,  0,  0  ],  
                      ['2008',  0,      24.60931592,  58.68917644,  0,  7.386,   0,   1.621507638,  0.01,   0,  0  ],
                      ['2009',  1.168,  31.31149881,  66.77969074,  0,  6.889,   0,   3.308810442,  0.01,   0,  0  ],
                      ['2010',  1.01,   40.26874765,  66.54744484,  0,  6.407,   0,   3.449807509,  0.01,   0,  0  ],
                      ['2011',  1.061,  49.80422211,  54.66874185,  0,  7.547,   0,   8.883036047,  0.015,  0,  0  ],
                      ['2012',  0.827,  52.4407469,   58.8900902,   0,  8.965,   0,   5.653162899,  0.047,  0,  0  ],
                      ['2013',  1.149,  50.16981504,  63.69551145,  0,  10.48,   0,   5.018673509,  0.14,   0,  0  ],
                      ['2014',  0.701,  52.47745547,  69.40593981,  0,  13.254,  0,   3.280604718,  0.23,   0,  0  ],
                      ['2015',  0.751,  59.66556,     65.76428,     0,  13.758,  0,   1.63446,      0.27,   0,  0  ],
                      ['2016',  0.76,   65.00382,     61.31996,     0,  19.819,  0,   1.11296,      0.31,   0,  0  ],
                      ['2017',  0.839,  67.64146,     59.47662,     0,  26.309,  0,   1.43538,      0.33,   0,  0  ]
                    ]);
                
                    var options = {
                      title: '단위 : TWh',
                      titleTextStyle: {color: '#666666', bold: 'false'},
                      legend: { position: 'bottom' },
                      vAxis: {gridlines: {count: 6} },
                      colors: ['#4472C4','#ED7D31','#A5A5A5','#FFC000','#5B9BD5','#70AD47','#264478','#9E480E','#636363','#997300'],
                      lineWidth:3,
                      chartArea:{width:'90%'}
                    };
                
                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                    window.addEventListener('resize', drawChart, false); 
                
                    chart.draw(data, options);
                  }
                
                
                  // PIE CHART
                    google.charts.setOnLoadCallback(drawChartPie);
                
                    function drawChartPie() {
                
                      var data = google.visualization.arrayToDataTable([
                        ['Energy', 'Amount'],
                        ['Coal',      {v: 29.00, f:'29.00%'}],
                        ['Gas',       {v: 41.00, f:'41.00%'}],
                        ['Renewable', {v: 23.00, f:'23.00%'}],
                        ['Hydro',     {v: 7.00, f:'7.00%'}]
                      ]);
                
                      var options = {
                        legend: {alignment:'center', position: 'bottom'},
                        sliceVisibilityThreshold: 0.0001,
                        enableInteractivity: true,
                        pieSliceText: 'value',
                        backgroundColor:{fill:'#fff', stroke:'#d9d9d9', strokeWidth:'2'},
                        chartArea:{width: '90%'},
                        fontsize: 14,
                        colors:['#4472C4', '#ED7D31', '#aaa', '#FFC000', '#5B9BD5','#70AD47'],
                        tooltip: {ignoreBounds:true, text:'value', trigger:'selection', textStyle: {color:'#000', fontSize: '14'}}
                      };
                
                
                      var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
                      window.addEventListener('resize', drawChartPie, false); 
                      chart.draw(data, options);
                
                      // legend(범례)에 mouseover 할 때도 tooltip 보여지도록.
                      function mouseOverHandler(selection) {
                        chart.setSelection([selection]);
                      }
                      function mouseOutHandler() {
                        chart.setSelection();      }
                      google.visualization.events.addListener(chart, 'onmouseover', mouseOverHandler);
                      google.visualization.events.addListener(chart, 'onmouseout', mouseOutHandler);
                
                
                  }
                </script><!-- END CHART -->

