<div class="full-width">
<div class="wrapper clearfix">
<article class="nationalInfo">
<h4 class="red-bullet">국가 정보</h4>

<div class="whBox clearfix">
<div class="clearfix national_name"><img alt="몽골국기" class="flag" src="/globalenergy/design/theme/bluebox/images/mongolia.png" /> <span> <span class="name_k">몽골</span><br />
<span class="name_e">Mongolia</span> </span></div>
<strong class="red_bar">국가 개황</strong>

<ul class="mid-dot">
	<li>면적 : 1,564천 ㎢(한반도의 1.7배)</li>
	<li>기후 : 대륙성</li>
	<li>인구 : 3.4백만 명(&#39;20)</li>
	<li>언어 : 몽골어(공용어)&nbsp;</li>
	<li>종교 : 불교(53%), 이슬람교(3%), 샤머니즘(3%), 기독교(2%)</li>
	<li>산업구조 : 서비스업 44%, 제조업 44%, 농업 12%(&#39;19)</li>
	<li>주요 부존자원 : 석유, 석탄, 구리, 몰리브덴, 텅스텐, 인산염, 주석, 니켈, 아연, 형석, 금, 은, 철</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar">주요 사업 환경 지표</strong>

<ul class="mid-dot">
	<li>기업경영여건 : 81th/190</li>
	<li>국제신인도 : Moody&#39;s Caa2, Fitch CCC</li>
	<li>투자현황 (2019년 6월말 누계)
	<p class="hypen">신규 법인 수 : 671</p>

	<p class="hypen">투자금액 : 489,319 천 달러</p>
	</li>
	<li>1인당 GDP : 3,990 달러(&#39;20)</li>
	<li>경제성장률 : -2.0%(&#39;20)</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar mt20">투자보장/에너지협력 체결 현황</strong>

<ul class="mid-dot">
	<li>투자보장협정 : 1991년 3월 28일 체결</li>
</ul>
</div>
</article>

<div class="left_nation">
<article class="energyPlan">
<h4 class="red-bullet">에너지 계획</h4>

<div class="whBox clearfix"><strong class="red_bar">몽골 국가 에너지 정책 2015-2030</strong>

<div class="col-md-6">
<div class="subject">2030년 전력 믹스 (설치용량 기준)</div>

<div class="graph plan">
<div id="pie_chart">&nbsp;</div>
</div>

<p class="italic">Source : 국제 재생에너지 기구 (country energy profile) &amp; NDC 취합</p>
</div>

<div class="col-md-6">
<div class="subject">국가 에너지 정책 2015-2030 주요 방향</div>

<ul class="mid-dot">
	<li>에너지 부문 역량 강화 및 인적 자원 개발, 주변국들과 에너지 협력 및 발전을 통한 안정적인 에너지 공급</li>
	<li>에너지 부문을 민간 기반의 시장 경쟁 시스템으로 전환</li>
	<li>선진기술 도입 및 경제 정책 시행</li>
	<li>지속가능 녹색 성장을 위한 전력부문 재생에너지 확대 및 기존 에너지원의 환경 영향 감소</li>
	<li>단계별 에너지 목표 달성<br />
	- 1단계 (2015-2023) : 발전 설비 증가, 재생에너지 개발 기반 구축<br />
	- 2단계 (2024-2030) : 전력 수출 및 재생에너지 개발</li>
</ul>
</div>
</div>
</article>

<article class="energyGov">
<h4 class="red-bullet">에너지 정부</h4>

<div class="whBox">
<div class="graph organization"><img alt="몽골 에너지 정부 조직도" src="/globalenergy/design/theme/bluebox/images/mongoliaGov.png" /></div>
<a class="govmore" href="#">기관별 역할 보기<span>&nbsp;</span></a>

<div class="tableWrap">
<table>
	<caption class="hidden">몽골 에너지 정부의 기관명, 역할</caption>
	<colgroup>
		<col style="width: 25%" />
		<col style="width: 75%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">기관명</th>
			<th scope="col">역할</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://www.energy.gov.mn/" target="_blank">에너지부 (MOE)</a></td>
			<td>에너지자원 개발, 전원 공급, 연료 기술의 개발 및 혁신 지원, 국내외 투자 유치 및 협력, 에너지 정책 규정 및 승인</td>
		</tr>
		<tr>
			<td><a href="https://erc.gov.mn/mn/" target="_blank">에너지규제위원회 (ERC)</a></td>
			<td>에너지의 생산, 송전, 배전, 공급에 관한 규제, 요금 책정 및 에너지 절약정책 시행 진</td>
		</tr>
		<tr>
			<td><a href="https://www.nrec.mn/" target="_blank">국립재생에너지센터 (NREC)</a></td>
			<td>재생에너지 평가 연구 및 실험, 재생에너지 장비 생산 관리</td>
		</tr>
		<tr>
			<td><a href="https://www.masm.gov.mn/" target="_blank">표준 및 계측부(MASM)</a></td>
			<td>표준화, 적합성 평가 및 기술 규제, 국제 표준을 제공하여 소비자 보호</td>
		</tr>
		<tr>
			<td><a href="https://med.gov.mn/" target="_blank">경제개발부 (MED)</a></td>
			<td>경제·개발 정책, 투자, 무역, 개발 계획</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</article>
</div>
</div>
<!-- wrapper --></div>
<!-- full-width --><!-- wrapper --><!-- CHART --><script>
    // GOOGLE CHART 패키지 불러오기
    google.charts.load("current", { packages: ["corechart"] });

    // LINE CHART
    //google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["Year", "Biomass and watse", "Coal", "Gas", "Hydroelectricity", "Oil", "Solar", "Wind"],
            ["2007", 0, 11.2591, 3.4981, 2.34, 0.3398, 0, 0.001],
            ["2008", 0, 11.1859, 3.574, 2.35, 0.3371, 0, 0.001],
            ["2009", 0, 11.1783, 3.583, 2.36, 0.3357, 0, 0.001],
            ["2010", 0, 12.2152, 3.9603, 2.36, 0.3645, 0, 0.001],
            ["2011", 0, 12.2367, 3.9974, 2.51, 0.3629, 0, 0.002],
            ["2012", 0, 12.2289, 4.0894, 2.66, 0.3648, 0, 0.002],
            ["2013", 0.0003, 12.2738, 4.1038, 2.675, 0.3703, 0.0005, 0.006],
            ["2014", 0.0004, 12.3094, 4.1663, 2.675, 0.3693, 0.005, 0.053],
            ["2015", 0.0004, 13.637, 4.6574, 2.68, 0.4056, 0.057, 0.072],
            ["2016", 0.0004, 14.318, 4.8657, 2.7, 0.4163, 0.057, 0.098],
            ["2017", 0.0001, 14.0391, 4.765, 2.73, 0.4129, 0.059, 0.112],
        ]);

        var options = {
            title: "단위 : TWh",
            titleTextStyle: { color: "#666666", bold: "false" },
            legend: { position: "bottom" },
            vAxis: { gridlines: { count: 6 } },
            colors: ["#4472C4", "#ED7D31", "#A5A5A5", "#FFC000", "#5B9BD5", "#70AD47", "#264478"],
            lineWidth: 3,
            chartArea: { width: "90%" },
        };

        var chart = new google.visualization.LineChart(document.getElementById("curve_chart"));
        window.addEventListener("resize", drawChart, false);
        chart.draw(data, options);
    }

    // PIE CHART
    google.charts.setOnLoadCallback(drawChartPie);

    function drawChartPie() {
        var data = google.visualization.arrayToDataTable([
            ["Energy", "Amount"],
            ["Themal energy", { v: 70, f: "70%" }],
            ["Solar PV", { v: 3.7, f: "3.7%" }],
            ["Hydro", { v: 17.2, f: "17.2%" }],
            ["Wind", { v: 9, f: "6%" }],
        ]);

        var options = {
            legend: { alignment: "center", position: "bottom" },
            sliceVisibilityThreshold: 0.0001,
            enableInteractivity: true,
            pieSliceText: "value",
            backgroundColor: { fill: "#fff", stroke: "#d9d9d9", strokeWidth: "2" },
            chartArea: { width: "90%" },
            fontsize: 14,
            colors: ["#4472c4", "#ED7D31", "#aaa", "#FFC000", "#5B9BD5", "#70AD47"],
            tooltip: { ignoreBounds: true, text: "value", trigger: "selection", textStyle: { color: "#000", fontSize: "14" } },
        };

        var chart = new google.visualization.PieChart(document.getElementById("pie_chart"));
        window.addEventListener("resize", drawChartPie, false);
        chart.draw(data, options);

        // legend(범례)에 mouseover 할 때도 tooltip 보여지도록.
        function mouseOverHandler(selection) {
            chart.setSelection([selection]);
        }
        function mouseOutHandler() {
            chart.setSelection();
        }
        google.visualization.events.addListener(chart, "onmouseover", mouseOverHandler);
        google.visualization.events.addListener(chart, "onmouseout", mouseOutHandler);
    }
</script><!-- END CHART -->

