<div class="full-width">
<div class="wrapper clearfix">
<article class="nationalInfo">
<h4 class="red-bullet">국가 정보</h4>

<div class="whBox clearfix">
<div class="clearfix national_name"><img alt="네덜란드국기" class="flag" src="/globalenergy/design/theme/bluebox/images/netherlands.png" /> <span> <span class="name_k">네덜란드</span><br />
<span class="name_e">Netherlands</span> </span></div>
<strong class="red_bar">국가 개황</strong>

<ul class="mid-dot">
	<li>면적 : 42천 ㎢(한반도의 19%)</li>
	<li>기후 : 온난다습한 해양성</li>
	<li>인구 : 17.3백만 명(&#39;20)</li>
	<li>언어 : 네덜란드어(공용어)</li>
	<li>종교 : 가톨릭(24%), 개신교(15%), 이슬람교(5%)</li>
	<li>산업구조 : 서비스업 74%, 제조업 22%, 농업 4%(&#39;19)</li>
	<li>주요 부존자원 : 천연가스, 석유, 토탄, 석회암</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar">주요 사업 환경 지표</strong>

<ul class="mid-dot">
	<li>기업경영여건 : 42th/190</li>
	<li>국제신인도 : Moody&#39;s Aaa, Fitch AAA</li>
	<li>투자현황 (2019년 6월말 누계)
	<p class="hypen">신규 법인 수 : 258</p>

	<p class="hypen">투자금액 : 12,418,137 천 달러</p>
	</li>
	<li>1인당 GDP : 51,920 달러(&#39;20)</li>
	<li>경제성장률 : -5.4%(&#39;20)</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar mt20">투자보장/에너지협력 체결 현황</strong>

<ul class="mid-dot">
	<li>투자보장협정 : 2003년 7월 12일 체결</li>
</ul>
</div>
</article>

<div class="left_nation">
<article class="energyPlan">
<h4 class="red-bullet">에너지 계획</h4>

<div class="whBox clearfix"><strong class="red_bar">네덜란드 에너지 정책</strong>

<div class="col-md-6">
<div class="subject">2030년 전력 믹스 (설치용량 기준)</div>

<div class="graph plan">
<div id="pie_chart">&nbsp;</div>
</div>

<p class="italic">Source : Klimaat- en Energieverkenning 2021</p>
</div>

<div class="col-md-6">
<div class="subject">국가에너지기후통합계획</div>

<ul class="mid-dot">
	<li>온실가스 배출량 감축 및 재생에너지 사용으로 탈탄소화</li>
	<li>유럽 연합의 에너지 효율 목표 2030년까지 32.5% 이상 달성에 기여</li>
	<li>제3국 에너지 수입의존도 감소, 국가 에너지 시스템 유연성 향상</li>
	<li>유럽 연합 국가와 전력 네트워크 구축</li>
	<li>송전 기반시설 구축 및 현대화 사업 추진</li>
	<li>연구, 혁신을 위한 공공 및 민간 자금 지원 및 청정에너지 기술 촉진</li>
</ul>
</div>
</div>
</article>

<article class="energyGov">
<h4 class="red-bullet">에너지 정부</h4>

<div class="whBox">
<div class="graph organization"><img alt="네덜란드 에너지 정부 조직도" src="/globalenergy/design/theme/bluebox/images/netherlandsGov.png" /></div>
<a class="govmore" href="#">기관별 역할 보기<span>&nbsp;</span></a>

<div class="tableWrap">
<table>
	<caption class="hidden">네덜란드 에너지 정부의 기관명, 역할</caption>
	<colgroup>
		<col style="width: 25%" />
		<col style="width: 75%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">기관명</th>
			<th scope="col">역할</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://www.government.nl/ministries/ministry-of-economic-affairs" target="_blank">경제기후정책부 (EZK)</a></td>
			<td>국제 무역, 산업, 투자, 기술, 에너지, 재생에너지, 환경, 기후 변화 등 관련 정책 수립 및 실행</td>
		</tr>
		<tr>
			<td><a href="https://investinholland.com/" target="_blank">외국인 투자청 (NFIA)</a></td>
			<td>네덜란드에서 국제 활동 수립, 전개, 확장 외국 기업 지원</td>
		</tr>
		<tr>
			<td><a href="https://english.rvo.nl/" target="_blank">기업청 (ROV)</a></td>
			<td>기업가, NGO, 지식 기관, 조직 지원, 투자 인센티브 정보 제공</td>
		</tr>
		<tr>
			<td><a href="https://www.cbs.nl/" target="_blank">중앙통계청 (CBS)</a></td>
			<td>국가 통계 정보 및 데이터 제공</td>
		</tr>
		<tr>
			<td><a href="https://www.government.nl/ministries/ministry-of-infrastructure-and-water-management" target="_blank">인프라물관리부 (IenW)</a></td>
			<td>항공 및 해양, 환경 및 지속가능, 도로, 물, 토양 관련 정책 수립 및 실행</td>
		</tr>
		<tr>
			<td><a href="https://www.pbl.nl/" target="_blank">환경영향평가청 (PBL)</a></td>
			<td>환경, 자연, 공간 계획 분야 전략적 정책 분석</td>
		</tr>
		<tr>
			<td><a href="https://www.government.nl/ministries/ministry-of-finance" target="_blank">재무부 (FIN)</a></td>
			<td>국가 지출 감독, 안정적인 금융 시스템 보장, 금융 기관 품질 감독</td>
		</tr>
		<tr>
			<td><a href="https://www.belastingdienst.nl/wps/wcm/connect/nl/home/home" target="_blank">세금 및 관세청 (Belastingdienst)</a></td>
			<td>세금 부과 및 징수, 세금관련 정보 제공</td>
		</tr>
		<tr>
			<td><a href="https://www.rijksoverheid.nl/ministeries/ministerie-van-klimaat-en-groene-groei" target="_blank">기후·녹색성장부(KGG)</a></td>
			<td>기후정책 수립, 녹색성장 전략, 에너지 전환 조정</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</article>
</div>
</div>
<!-- wrapper --></div>
<!-- full-width --><!-- wrapper --><!-- CHART --><script>
		// GOOGLE CHART 패키지 불러오기
		google.charts.load("current", { packages: ["corechart"] });
	
		// LINE CHART
		//google.charts.setOnLoadCallback(drawChart);
	
		function drawChart() {
			var data = google.visualization.arrayToDataTable([
				["Year", "Biomass and watse", "Coal", "Gas", "Hydroelectricity", "Oil", "Solar", "Wind"],
				["2007", 0, 11.2591, 3.4981, 2.34, 0.3398, 0, 0.001],
				["2008", 0, 11.1859, 3.574, 2.35, 0.3371, 0, 0.001],
				["2009", 0, 11.1783, 3.583, 2.36, 0.3357, 0, 0.001],
				["2010", 0, 12.2152, 3.9603, 2.36, 0.3645, 0, 0.001],
				["2011", 0, 12.2367, 3.9974, 2.51, 0.3629, 0, 0.002],
				["2012", 0, 12.2289, 4.0894, 2.66, 0.3648, 0, 0.002],
				["2013", 0.0003, 12.2738, 4.1038, 2.675, 0.3703, 0.0005, 0.006],
				["2014", 0.0004, 12.3094, 4.1663, 2.675, 0.3693, 0.005, 0.053],
				["2015", 0.0004, 13.637, 4.6574, 2.68, 0.4056, 0.057, 0.072],
				["2016", 0.0004, 14.318, 4.8657, 2.7, 0.4163, 0.057, 0.098],
				["2017", 0.0001, 14.0391, 4.765, 2.73, 0.4129, 0.059, 0.112],
			]);
	
			var options = {
				title: "단위 : TWh",
				titleTextStyle: { color: "#666666", bold: "false" },
				legend: { position: "bottom" },
				vAxis: { gridlines: { count: 6 } },
				colors: ["#4472C4", "#ED7D31", "#A5A5A5", "#FFC000", "#5B9BD5", "#70AD47", "#264478"],
				lineWidth: 3,
				chartArea: { width: "90%" },
			};
	
			var chart = new google.visualization.LineChart(document.getElementById("curve_chart"));
			window.addEventListener("resize", drawChart, false);
			chart.draw(data, options);
		}
	
		// PIE CHART
		google.charts.setOnLoadCallback(drawChartPie);
	
		function drawChartPie() {
			var data = google.visualization.arrayToDataTable([
				["Energy", "Amount"],
				["Nautral gas(central)", { v: 13.5, f: "13.5%" }],
				["Nautral gas(distributed)", { v: 18.8, f: "18.8%" }],
				["Solar", { v: 37.7, f: "37.7%" }],
				["Wind(on shore)", { v: 10.8, f: "10.8%" }],
				["Wind(off shore)", { v: 17.3, f: "17.3%" }],
				["Nuclear", { v: 0.7, f: "0.7%" }],
				["Waste incineration, hydropower, biomass, gas expansion", { v: 1.2, f: "1.2%" }],
				
			]);
	
			var options = {
				legend: { alignment: "center", position: "bottom" },
				sliceVisibilityThreshold: 0.0001,
				enableInteractivity: true,
				pieSliceText: "value",
				backgroundColor: { fill: "#fff", stroke: "#d9d9d9", strokeWidth: "2" },
				chartArea: { width: "90%" },
				fontsize: 14,
				colors: ["#4472c4", "#ED7D31", "#aaa", "#FFC000", "#5B9BD5", "#70AD47"],
				tooltip: { ignoreBounds: true, text: "value", trigger: "selection", textStyle: { color: "#000", fontSize: "14" } },
			};
	
			var chart = new google.visualization.PieChart(document.getElementById("pie_chart"));
			window.addEventListener("resize", drawChartPie, false);
			chart.draw(data, options);
	
			// legend(범례)에 mouseover 할 때도 tooltip 보여지도록.
			function mouseOverHandler(selection) {
				chart.setSelection([selection]);
			}
			function mouseOutHandler() {
				chart.setSelection();
			}
			google.visualization.events.addListener(chart, "onmouseover", mouseOverHandler);
			google.visualization.events.addListener(chart, "onmouseout", mouseOutHandler);
		}
	</script><!-- END CHART -->

