<div class="full-width">
<div class="wrapper clearfix">
<article class="nationalInfo">
<h4 class="red-bullet">국가 정보</h4>

<div class="whBox clearfix">
<div class="clearfix national_name"><img alt="노르웨이국기" class="flag" src="/globalenergy/design/theme/bluebox/images/norway.png" /> <span> <span class="name_k">노르웨이</span><br />
<span class="name_e">Norway</span> </span></div>
<strong class="red_bar">국가 개황</strong>

<ul class="mid-dot">
	<li>면적 : 324천 ㎢(한반도의 1.5배)</li>
	<li>기후 : 해양성</li>
	<li>인구 : 5.4백만 명(&#39;20)</li>
	<li>언어 : 노르웨이어(공용어)</li>
	<li>종교 : 복음루터교(72%), 기독교(4%), 가톨릭(3%)</li>
	<li>산업구조 : 서비스업 65%, 제조업 33%, 농업 2%(&#39;19)</li>
	<li>주요 부존자원 : 석유, 천연가스, 철광석, 구리, 납, 아연, 티타늄, 황철석, 니켈, 어족자원, 임산자원, 수력자원</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar">주요 사업 환경 지표</strong>

<ul class="mid-dot">
	<li>기업경영여건 : 9th/190</li>
	<li>국제신인도 : Moody&#39;s Aaa, Fitch AAA</li>
	<li>투자현황 (2019년 6월말 누계)
	<p class="hypen">신규 법인 수 : 20</p>

	<p class="hypen">투자금액 : 1,967,239 천 달러</p>
	</li>
	<li>1인당 GDP : 67,989 달러(&#39;20)</li>
	<li>경제성장률 : -2.8%(&#39;20)</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
</div>
</article>

<div class="left_nation">
<article class="energyPlan">
<h4 class="red-bullet">에너지 계획</h4>

<div class="whBox clearfix"><strong class="red_bar">2030년을 향한 에너지 정책</strong>

<div class="col-md-6">
<div class="subject">2040 전력 믹스 (설치용량 기준)</div>

<div class="graph plan">
<div id="pie_chart">&nbsp;</div>
</div>

<p class="italic">Source : LANGSIKTIG KRAFTMARKEDSANALYSE 2020 - 2040</p>
</div>

<div class="col-md-6">
<div class="subject">2030년을 향한 에너지 정책 주요 방향</div>

<ul class="mid-dot">
	<li>에너지 수급 안정성 강화</li>
	<li>재생에너지 개발에서의 수익성 강화</li>
	<li>효율적이고 기후 친화적인 에너지 사용</li>
	<li>재생에너지의 효율적인 활용을 통한 비즈니스 개발 및 가치 창출</li>
</ul>
</div>
</div>
</article>

<article class="energyGov">
<h4 class="red-bullet">에너지 정부</h4>

<div class="whBox">
<div class="graph organization"><img alt="노르웨이 에너지 정부 조직도" src="/globalenergy/design/theme/bluebox/images/norwayGov.png" /></div>
<a class="govmore" href="#">기관별 역할 보기<span>&nbsp;</span></a>

<div class="tableWrap">
<table>
	<caption class="hidden">노르웨이 에너지 정부의 기관명, 역할</caption>
	<colgroup>
		<col style="width: 25%" />
		<col style="width: 75%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">기관명</th>
			<th scope="col">역할</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://www.regjeringen.no/no/dep/oed" target="_blank">석유에너지부 (MOE)</a></td>
			<td>국가 전력 공급 안보 보호, 수로 시설 안전 유지</td>
		</tr>
		<tr>
			<td><a href="https://www.nve.no/" target="_blank">수자원에너지위원회 (NVE)</a></td>
			<td>수자원 및 에너지 자원 관리, 효율적인 에너지 시장 구축, 전력공급장치 유지관리, 연구개발 및 국제개발 지원</td>
		</tr>
		<tr>
			<td><a href="https://www.regjeringen.no/no/dep/fin/id216/" target="_blank">재무부 (FIN)</a></td>
			<td>경제정책, 예산 정책, 조세 정책, 재정 안정성, 정부 연금 기금관리 계획 및 시행</td>
		</tr>
		<tr>
			<td><a href="https://www.skatteetaten.no/person/" target="_blank">세무국 (Skatteetaten)</a></td>
			<td>자금 조달 지원, 조세 정책 실행</td>
		</tr>
		<tr>
			<td><a href="https://www.regjeringen.no/no/dep/kd/id586/" target="_blank">교육부 (KD)</a></td>
			<td>초등, 중등, 고등 교육 및 직업 교육 및 훈련, 성인 학습 담당</td>
		</tr>
		<tr>
			<td><a href="https://www.forskningsradet.no/" target="_blank">연구위원회 (forskningsrad)</a></td>
			<td>연구 및 혁신 프로젝트 자금 지원</td>
		</tr>
		<tr>
            <!-- 링크 이상있음 -->
			<td><a href="https://www.skattefunn.no/" target="_blank">SkatteFUNN</a></td>
			<td>연구개발 프로젝트에 세금 공제 제공</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</article>
</div>
</div>
<!-- wrapper --></div>
<!-- full-width --><!-- wrapper --><!-- CHART --><script>
    // GOOGLE CHART 패키지 불러오기
    google.charts.load("current", { packages: ["corechart"] });

    // LINE CHART
    //google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["Year", "Biomass and watse", "Coal", "Gas", "Hydroelectricity", "Oil", "Solar", "Wind"],
            ["2007", 0, 11.2591, 3.4981, 2.34, 0.3398, 0, 0.001],
            ["2008", 0, 11.1859, 3.574, 2.35, 0.3371, 0, 0.001],
            ["2009", 0, 11.1783, 3.583, 2.36, 0.3357, 0, 0.001],
            ["2010", 0, 12.2152, 3.9603, 2.36, 0.3645, 0, 0.001],
            ["2011", 0, 12.2367, 3.9974, 2.51, 0.3629, 0, 0.002],
            ["2012", 0, 12.2289, 4.0894, 2.66, 0.3648, 0, 0.002],
            ["2013", 0.0003, 12.2738, 4.1038, 2.675, 0.3703, 0.0005, 0.006],
            ["2014", 0.0004, 12.3094, 4.1663, 2.675, 0.3693, 0.005, 0.053],
            ["2015", 0.0004, 13.637, 4.6574, 2.68, 0.4056, 0.057, 0.072],
            ["2016", 0.0004, 14.318, 4.8657, 2.7, 0.4163, 0.057, 0.098],
            ["2017", 0.0001, 14.0391, 4.765, 2.73, 0.4129, 0.059, 0.112],
        ]);

        var options = {
            title: "단위 : TWh",
            titleTextStyle: { color: "#666666", bold: "false" },
            legend: { position: "bottom" },
            vAxis: { gridlines: { count: 6 } },
            colors: ["#4472C4", "#ED7D31", "#A5A5A5", "#FFC000", "#5B9BD5", "#70AD47", "#264478"],
            lineWidth: 3,
            chartArea: { width: "90%" },
        };

        var chart = new google.visualization.LineChart(document.getElementById("curve_chart"));
        window.addEventListener("resize", drawChart, false);
        chart.draw(data, options);
    }

    // PIE CHART
    google.charts.setOnLoadCallback(drawChartPie);

    function drawChartPie() {
        var data = google.visualization.arrayToDataTable([
            ["Energy", "Amount"],
            ["Hydro", { v: 71.1, f: "71.1%" }],
            ["Wind", { v: 12.4, f: "12.4%" }],
            ["Solar", { v: 15.8, f: "15.8%" }],
            ["Thermal", { v: 0.6, f: "0.6%" }],
        ]);

        var options = {
            legend: { alignment: "center", position: "bottom" },
            sliceVisibilityThreshold: 0.0001,
            enableInteractivity: true,
            pieSliceText: "value",
            backgroundColor: { fill: "#fff", stroke: "#d9d9d9", strokeWidth: "2" },
            chartArea: { width: "90%" },
            fontsize: 14,
            colors: ["#4472c4", "#ED7D31", "#aaa", "#FFC000", "#5B9BD5", "#70AD47"],
            tooltip: { ignoreBounds: true, text: "value", trigger: "selection", textStyle: { color: "#000", fontSize: "14" } },
        };

        var chart = new google.visualization.PieChart(document.getElementById("pie_chart"));
        window.addEventListener("resize", drawChartPie, false);
        chart.draw(data, options);

        // legend(범례)에 mouseover 할 때도 tooltip 보여지도록.
        function mouseOverHandler(selection) {
            chart.setSelection([selection]);
        }
        function mouseOutHandler() {
            chart.setSelection();
        }
        google.visualization.events.addListener(chart, "onmouseover", mouseOverHandler);
        google.visualization.events.addListener(chart, "onmouseout", mouseOutHandler);
    }
</script><!-- END CHART -->

