<div class="full-width">
<div class="wrapper clearfix">
<article class="nationalInfo">
<h4 class="red-bullet">국가 정보</h4>

<div class="whBox clearfix">
<div class="clearfix national_name"><img alt="필리핀국기" class="flag" height="97" src="/globalenergy/design/theme/bluebox/images/phillipines.png" width="140" /> <span> <span class="name_k">필리핀</span><br />
<span class="name_e">Philippines</span> </span></div>
<strong class="red_bar">국가 개황</strong>

<ul class="mid-dot">
	<li>면적 : 300천 ㎢ (한반도의 1.4배)</li>
	<li>기후 : 고온다습한 아열대성</li>
	<li>인구 : 1.1억명 (``19)</li>
	<li>언어 : 필리핀어 (공용어), 영어 (공용어)</li>
	<li>종교 : 카톨릭 (81%), 개신교 (8%), 이슬람교 (6%)</li>
	<li>산업구조 : 서비스업 60%, 제조업 31%, 농업 9% (``17)</li>
	<li>주요 부존자원 : 목재, 석유, 니켈, 코발트, 은, 금, 소금, 구리</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar">주요 사업 환경 지표</strong>

<ul class="mid-dot">
	<li>기업경영여건 : 95th/190</li>
	<li>국제신인도 : OECD 3등급, Moody&#39;s Baa2, Fitch BBB</li>
	<li>투자현황 (2019년 6월말 누계)
	<p class="hypen">신규 법인 수 : 1,720</p>

	<p class="hypen">투자금액 : 4,389,825 천 달러</p>
	</li>
	<li>1인당 GDP : 3,485 달러 (``20)</li>
	<li>경제성장률 : 6.2 % (``20)</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar mt20">투자보장/에너지협력 체결 현황</strong>

<ul class="mid-dot">
	<li>투자보장협정 : 1994년 4월 7일 체결</li>
</ul>
</div>
</article>

<div class="left_nation">
<article class="energyMix">
<h4 class="red-bullet">에너지원별 발전 현황</h4>

<div class="whBox">
<div class="graph mix"><img alt="PhilippineEnergyMix" src="/globalenergy/design/theme/bluebox/images/PhilippineEnergyMix.png" />
<div id="curve_chart">&nbsp;</div>
</div>

<p class="italic">Source : EIA (2020 Sep.)</p>
</div>
</article>

<article class="energyPlan">
<h4 class="red-bullet">에너지 계획</h4>

<div class="whBox clearfix"><strong class="red_bar">필리핀 에너지계획 2018-2040</strong>

<div class="col-md-6">
<div class="subject">2040 에너지 믹스</div>

<div class="graph plan"><img alt="PhilippineEnergyPlan" src="/globalenergy/design/theme/bluebox/images/PhilippineEnergyPlan.png" />
<div id="pie_chart">&nbsp;</div>
</div>

<p class="italic">Source : Philippine Energy Plan (PEP) 2018-2040</p>
</div>

<div class="col-md-6">
<div class="subject">필리핀 에너지계획(PEP) 주요 방향</div>

<ul class="mid-dot">
	<li>재생에너지 설치용량을 최소 20,000MW 증설</li>
	<li>지역 석유, 가스, 석탄 보유량 및 생산량 증대</li>
	<li>경제적 고품질 전력 공급, 투명하고 공정한 전력 시장</li>
	<li>전국적인 전기 접근성 제공</li>
	<li>고품질의 석유제품 공급을 위한 다운스트림 석유산업 정책 개선</li>
	<li>세계적 수준의 투자 기반의 천연가스 산업 개발</li>
	<li>에너지 기술을 통한 안정적 에너지 공급</li>
	<li>에너지 소비량 감소</li>
</ul>
</div>
</div>
</article>

<article class="energyGov">
<h4 class="red-bullet">에너지 정부</h4>

<div class="whBox">
<div class="graph organization"><img alt="필리핀 에너지 정부 조직도" src="/globalenergy/design/theme/bluebox/images/PhilippineGov.png" /></div>
<a class="govmore" href="#">기관별 역할 보기<span>&nbsp;</span></a>

<div class="tableWrap">
<table>
	<caption class="hidden">필리핀 에너지 정부의 기관명, 역할</caption>
	<colgroup>
		<col style="width:25%" />
		<col style="width:75%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">기관명</th>
			<th scope="col">역할</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://www.facebook.com/NREBPh/" target="_blank">재생에너지위원회(NREB)</a></td>
			<td>DOE. DTI. DOF, PEMC 등 에너지 행정부 및 기관 대표로 구성된 DOE정책 자문, NREP관리 감독 수행 위원회</td>
		</tr>
		<tr>
			<!-- 링크 이상있음 -->
			<td><a href="https://www.doe.gov.ph/" target="_blank">에너지부(DOE)</a></td>
			<td>필리핀 전력 부문 정책 수립 및 시행 총괄 기관</td>
		</tr>
		<tr>
			<td><a href="https://denr.gov.ph/" target="_blank">에너지 및 천연자원부(DENR)</a></td>
			<td>국가의 환경 및 천연 자원의 보전, 관리, 개발 계획 관리 기관</td>
		</tr>
		<tr>
			<td><a href="https://www.erc.gov.ph/" target="_blank">에너지규제위원회(ERC)</a></td>
			<td>전력 요금 및 서비스 규제, 전력시장 운영 촉진, 인증서/라이선스 발급, 소비자 보호 등 준 사법적 행정 기관</td>
		</tr>
		<tr>
			<td><a href="https://www.pnoc.com.ph/" target="_blank">필리핀국립석유회사(PNOC)</a></td>
			<td>석유의 안정적인 공급 및 유지관리를 위한 기관으로 국가의 모든 에너지 자원에 대한 탐사, 개발 수행</td>
		</tr>
		<tr>
			<td><a href="https://nea.gov.ph/" target="_blank">국영전력화관리국(NEA)</a></td>
			<td>시골지역의 전력공급 기업에 대한 금융, 제도 및 기술 서비스를 제공하여, 시골지역의 전력화를 지원</td>
		</tr>
		<tr>
			<td><a href="https://www.wesm.ph/" target="_blank">필리핀전력시장공사 (PEMC)</a></td>
			<td>PEM 이사회와 WESM 거버넌스위원회를 통한 WESM 모니터링, 감시, 서비스 평가 기관</td>
		</tr>
		<tr>
			<!-- 링크 누락 -->
			<td><a href="#" target="_blank">필리핀독립전력시장운영사(IEMOP)</a></td>
			<td>WESM(Wholesale Electricity Spot Market) 전력거래 운영</td>
		</tr>
		<tr>
			<!-- 링크 이상있음 -->
			<td><a href="https://www.psalm.gov.ph/" target="_blank">발전자산채무관리공사<br />
			(PSALM Corp)</a></td>
			<td>NPC 및 TransCo의 송전자산 민영화, National Power의 부채 및 IPP 자본리스 지불 관리, 배전 시설의 UC 징수 관리 기관</td>
		</tr>
		<tr>
			<td><a href="https://www.dof.gov.ph/" target="_blank">경제부(DOF)</a></td>
			<td>재생에너지 매입 대금에 대한 세금 환불을 지원하는 국가 재정관리 기관</td>
		</tr>
		<tr>
			<td><a href="https://www.dost.gov.ph/" target="_blank">과학기술부(DOST)</a></td>
			<td>과학기술 정책 기관으로 기관으로 재생에너지 영리화 인센티브 등록 지원</td>
		</tr>
		<tr>
			<td><a href="https://www.dti.gov.ph/" target="_blank">무역산업부(DTI)</a></td>
			<td>무역 및 산업 활성화 기관으로 재생에너지 영리화 인센티브 등록 지원</td>
		</tr>
		<tr>
			<td><a href="https://www.dpwh.gov.ph/dpwh/" target="_blank">공공사업및고속도로부(DPWH)</a></td>
			<td>배전 시스템의 구축에 필요한 시설물 배치 및 유지를 위한 굴착 및 시설물 설치에 관한 허가 기관</td>
		</tr>
		<tr>
			<td><a href="https://cda.gov.ph/" target="_blank">협력개발기관(CDA)</a></td>
			<td>비영리 전력협동조합에 대한 인센티브를 유지하면서 주식회사로 전환 등록 지원</td>
		</tr>
		<tr>
			<td><a href="https://www.napocor.gov.ph/" target="_blank">국가전력공사(NPC)</a></td>
			<td>소전력그룹(SMUG)을 통해 도서지역(섬)에 전력을 공급, 발전을 지원하는 유역 및 댐 관리, DOE 부속 기관</td>
		</tr>
		<tr>
			<td><a href="https://boi.gov.ph/" target="_blank">투자위원회(BOI)</a></td>
			<td>무역산업부 산하 기관, 재생에너지 영리화 인센티브(세제혜택) 제공</td>
		</tr>
		<tr>
			<td><a href="https://www.transco.ph/" target="_blank">국가송전공사(TRANSCO)</a></td>
			<td>송/배전 설비 건설, 소유, 운영 책임 기관, NGCP계약 관리, Feed-in-Tariff Allowance Fund 관리</td>
		</tr>
		<tr>
			<td><a href="https://www.napocor.gov.ph/services/missionary-electrification/spug-plants" target="_blank">소규모 전력설비 그룹(SPUG)</a></td>
			<td>고립된 그리드와 섬에서 발전 및 관련 전력 공급 시스템을 제공하는 NPC 산하 기업</td>
		</tr>
		<tr>
			<td><a href="https://www.ngcp.ph/" target="_blank">필리핀전력망기업(NGCP)</a></td>
			<td>TRANSCO가 소유하고 있는 송/배전 전력망 설비를 운영하는 개인 소유 기업</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</article>
</div>
</div>
<!-- wrapper --></div>
<!-- full-width --><!-- wrapper --><!-- CHART --><script>
                  // GOOGLE CHART 패키지 불러오기
                  google.charts.load('current', {'packages':['corechart']});
                
                  // LINE CHART
                  google.charts.setOnLoadCallback(drawChart);
                
                  function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                      ['Year', 'Biomass and watse', 'Coal', 'Gas', 'Geothermal', 'Hydroelectricity', 'Nuclear', 'Oil', 'Solar', 'Tide and Wave', 'Wind'],
                      ['2007',  0,      15.82696169,  17.66186276,  10.215,  8.478,   0,   4.839175553,  0.001,  0,  0.058  ],  
                      ['2008',  0,      14.80389543,  18.40123544,  10.723,  9.744,   0,   4.575869131,  0.001,  0,  0.061  ],
                      ['2009',  0,      15.48690322,  18.69313209,  10.324,  9.69,    0,   5.05796469,   0.001,  0,  0.064  ],
                      ['2010',  0.027,  21.90303335,  18.3469982,   9.929,   7.725,   0,   6.67496845,   0.001,  0,  0.062  ],
                      ['2011',  0.116,  23.82140808,  19.35548156,  9.942,   9.601,   0,   3.194110357,  0.001,  0,  0.09   ],
                      ['2012',  0.182,  26.56891576,  18.46335197,  10.25,   10.149,  0,   3.998732271,  0.001,  0,  0.075  ],
                      ['2013',  0.212,  30.15601252,  17.66346533,  9.605,   9.919,   0,   4.221522154,  0.001,  0,  0.066  ],
                      ['2014',  0.196,  31.07082904,  17.56863904,  10.31,   9.046,   0,   5.365531922,  0.02,   0,  0.015  ],
                      ['2015',  0.367,  34.48484,     17.74532,     11.04,   8.578,   0,   5.53284,      0.14,   0,  0.075  ],
                      ['2016',  0.726,  40.70482,     18.66276,     11.07,   8.03,    0,   5.32134,      1.097,  0,  0.975  ],
                      ['2017',  1.012,  44.03618,     19.31418,     10.27,   9.515,   0,   3.55978,      1.201,  0,  1.094  ]
                    ]);
                
                    var options = {
                      title: '단위 : TWh',
                      titleTextStyle: {color: '#666666', bold: 'false'},
                      legend: { position: 'bottom' },
                      vAxis: {gridlines: {count: 6} },
                      colors: ['#4472C4','#ED7D31','#A5A5A5','#FFC000','#5B9BD5','#70AD47','#264478','#9E480E','#636363','#997300'],
                      lineWidth:3,
                      chartArea:{width:'90%'}
                    };
                
                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                    window.addEventListener('resize', drawChart, false); 
                
                    chart.draw(data, options);
                  }
                
                
                  // PIE CHART
                    google.charts.setOnLoadCallback(drawChartPie);
                
                    function drawChartPie() {
                
                      var data = google.visualization.arrayToDataTable([
                        ['Energy', 'Amount'],
                        ['Coal',       {v: 41.60, f:'41.60%'}],
                        ['Oil',        {v: 32.20, f:'32.20%'}],
                        ['Gas',        {v: 4.10, f:'4.10%'}],
                        ['Geothermal', {v: 7.10, f:'7.10%'}],
                        ['Bio',        {v: 10.10, f:'10.10%'}],
                        ['Hydro',      {v: 1.90, f:'1.90%'}],
                        ['etc',        {v: 3.00, f:'3.00%'}]
                      ]);
                
                      var options = {
                        legend: {alignment:'center', position: 'bottom'},
                        sliceVisibilityThreshold: 0.0001,
                        enableInteractivity: true,
                        pieSliceText: 'value',
                        backgroundColor:{fill:'#fff', stroke:'#d9d9d9', strokeWidth:'2'},
                        chartArea:{width: '90%'},
                        fontsize: 14,
                        colors:['#4472C4', '#ED7D31', '#aaa', '#FFC000', '#5B9BD5','#70AD47','#264478'],
                        tooltip: {ignoreBounds:true, text:'value', trigger:'selection', textStyle: {color:'#000', fontSize: '14'}}
                      };
                
                
                      var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
                      window.addEventListener('resize', drawChartPie, false); 
                      chart.draw(data, options);
                
                      // legend(범례)에 mouseover 할 때도 tooltip 보여지도록.
                      function mouseOverHandler(selection) {
                        chart.setSelection([selection]);
                      }
                      function mouseOutHandler() {
                        chart.setSelection();      }
                      google.visualization.events.addListener(chart, 'onmouseover', mouseOverHandler);
                      google.visualization.events.addListener(chart, 'onmouseout', mouseOutHandler);
                
                
                  }
                </script><!-- END CHART -->

