<div class="full-width">
<div class="wrapper clearfix">
<article class="nationalInfo">
<h4 class="red-bullet">국가 정보</h4>

<div class="whBox">
<div class="clearfix national_name"><img alt="대만국기" class="flag" height="97" src="/globalenergy/design/theme/bluebox/images/taiwan.png" width="140" /><span><span class="name_k">대만</span><br />
<span class="name_e">Taiwan</span></span></div>
<strong class="red_bar">국가 개황</strong>

<ul class="mid-dot">
	<li>면적 : 36천 ㎢ (한반도의 1/6)</li>
	<li>기후 : 아열대성 해양 기후</li>
	<li>인구 : 23.5백만 명 (&#39;21)</li>
	<li>언어 : 표준 중국어 (공용어), 민남어 (대만 방언)</li>
	<li>종교 : 불교 (35%), 도교 (33%), 기독교 (4%)</li>
	<li>산업구조 : 서비스업 60%, 제조업 38%, 농업 2% (&#39;20)</li>
	<li>주요 부존자원 : 석탄, 천연가스, 석회암, 대리석, 석면</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar">주요 사업 환경 지표</strong>

<ul class="mid-dot">
	<li>기업경영여건 :</li>
	<li>국제신인도 : Moody&#39;s Aa3, Fitch AA</li>
	<li>투자현황 (2021년 6월말 누계)
	<p class="hypen">신규 법인 수 : 627</p>

	<p class="hypen">투자금액 : 1,192,987,000 달러</p>
	</li>
	<li>1인당 GDP : 33,402 달러 (&#39;21)</li>
	<li>경제성장률 : 5.9% (&#39;21)</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar mt20">투자보장/에너지협력 체결 현황</strong>

<ul class="mid-dot">
	<li>ECFA 투자보장협정 협정 체결: 2012년 8월 9일 체결</li>
</ul>
</div>
</article>

<div class="left_nation">
<article class="energyMix">
<h4 class="red-bullet">에너지원별 발전 현황</h4>

<div class="whBox">
<div class="graph mix"><img alt="ChinaEnergyMix" src="/globalenergy/design/theme/bluebox/images/ChinaEnergyMix.png" />
<div id="curve_chart">&nbsp;</div>
</div>

<p class="italic">Source : EIA (2020 Sep.)</p>
</div>
</article>

<article class="energyPlan">
<h4 class="red-bullet">에너지 계획</h4>

<div class="whBox clearfix"><strong class="red_bar">대만 전력 공급 전망 2025~2030</strong>

<div class="col-md-6">
<div class="subject">2025년 전력 믹스 (설치용량 기준)</div>

<div class="graph plan">
<div id="pie_chart">&nbsp;</div>
</div>

<p class="italic">Source : The Electric Power Supply and Demand Report of Taiwan</p>
</div>

<div class="col-md-6">
<div class="subject">대만 재생에너지 공급 전망 2025~2050 주요 방향</div>

<ul class="mid-dot">
	<li>2025년 목표<br />
	- 전력 생산의 20% 재생에너지, 30% 석탄, 50% 가스 각각 사용</li>
	<li>2030년 목표</li>
	<li>전체 전력 소비의 15% 재생에너지 비중 차지</li>
	<li>신재생에너지 발전량 17,250 MW 달성</li>
	<li>2050년 목표</li>
	<li>전력 생산의 60%~70%는 재생에너지, 나머지는 가스 및 수소 사용</li>
	<li>스마트 변전소 설치 100% 달성</li>
	<li>스마트그리드 인프라 구축 통한 전력계통 안정성 및 전력수급 효율성 향상</li>
	<li>풍력 및 태양광을 기반으로한 신재생에너지 개발 추진</li>
</ul>
</div>
</div>
</article>

<article class="energyGov">
<h4 class="red-bullet">에너지 정부</h4>

<div class="whBox">
<div class="graph organization"><img alt="대만 에너지 정부 조직도" src="/globalenergy/design/theme/bluebox/images/taiwanGov.png" /></div>
<a class="govmore" href="#">기관별 역할 보기<span>&nbsp;</span></a>

<div class="tableWrap">
<table>
	<caption class="hidden">대만 에너지 정부의 기관명, 역할</caption>
	<colgroup>
		<col style="width:25%" />
		<col style="width:75%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">기관명</th>
			<th scope="col">역할</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://english.ey.gov.tw/" target="_blank">행정위원회 (Executive Yuan, R.O.C)</a></td>
			<td>R.O.C정부의 행정 조직으로, 계엄령, 선전포고, 평화조약 등에 관한 법률 및 예산 심사 후 입법부에 제출</td>
		</tr>
		<tr>
			<td><a href="https://www.ndc.gov.tw/en/Default.aspx" target="_blank">국가개발위원회 (NDC)</a></td>
			<td>국가 개발을 위한 정책 수립, 조정 및 검토</td>
		</tr>
		<tr>
			<td><a href="https://www.moenv.gov.tw/" target="_blank">환경보호청(EPA)</a></td>
			<td>환경 분야 정책 및 규정 등 모니터링</td>
		</tr>
		<tr>
			<td><a href="https://www.moea.gov.tw/Mns/english/home/English.aspx" target="_blank">경제부 (MOEA)</a></td>
			<td>국제 무역, 공업 등 전반적인 산업의 경제 담당</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</article>
</div>
</div>
<!-- wrapper --></div>
<!-- full-width --><!-- wrapper --><!-- CHART --><script>
                          // GOOGLE CHART 패키지 불러오기
                          google.charts.load('current', {'packages':['corechart']});
                        
                          // LINE CHART
                          google.charts.setOnLoadCallback(drawChart);
                        
                          function drawChart() {
                            var data = google.visualization.arrayToDataTable([
                              ['Year', 'Biomass and watse', 'Coal', 'Gas', 'Geothermal', 'Hydroelectricity', 'Nuclear', 'Oil', 'Solar', 'Tide and Wave', 'Wind'],
                              ['2007',  2.387,   2501.619267,  31.92715473,  0.116,  480.411,   59.299,   26.45357847,   0.105,   0,      5.71    ],  
                              ['2008',  14.715,  2572.708106,  32.56936038,  0.144,  579.335,   65.325,   17.72253369,   0.152,   0,      14.8    ],
                              ['2009',  20.7,    2738.809508,  53.75742257,  0.153,  609.484,   65.713,   11.40306902,   0.392,   0,      26.9    ],
                              ['2010',  33.863,  3045.322129,  73.3792289,   0.162,  701.038,   70.962,   13.96464169,   0.7,     0.007,  44.622  ],
                              ['2011',  38.269,  3488.395888,  90.17891105,  0.125,  677.819,   82.569,   11.4022014,    2.61,    0.007,  70.331  ],
                              ['2012',  40.967,  3545.110768,  92.84945069,  0.125,  851.215,   92.652,   10.28078118,   6.359,   0.007,  95.978  ],
                              ['2013',  49.303,  3848.041161,  100.2256195,  0.125,  897.158,   110.71,   9.412219952,   15.477,  0.007,  141.2   ],
                              ['2014',  57.356,  3868.337307,  107.6347119,  0.125,  1036.386,  123.808,  8.945980988,   29.23,   0.008,  156.08  ],
                              ['2015',  63.729,  3862.454463,  136.6251439,  0.125,  1098.655,  161.202,  9.098253599,   44.809,  0.008,  185.77  ],
                              ['2016',  76.113,  3987.27884,   160.25872,    0.125,  1140.047,  197.829,  9.74498,       75.285,  0.011,  237.07  ],
                              ['2017',  79.474,  4216.23619,   172.115157,   0.125,  1133.8,    232.797,  9.276973029,   117.8,   0.011,  304.6   ]
                            ]);
                        
                            var options = {
                              title: '단위 : TWh',
                              titleTextStyle: {color: '#666666', bold: 'false'},
                              legend: { position: 'bottom' },
                              vAxis: {gridlines: {count: 6} },
                              colors: ['#4472C4','#ED7D31','#A5A5A5','#FFC000','#5B9BD5','#70AD47','#264478','#9E480E','#636363','#997300'],
                              lineWidth:3,
                              chartArea:{width:'90%'}
                            };
                        
                            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                            window.addEventListener('resize', drawChart, false); 
                        
                            chart.draw(data, options);
                          }
                        
                        
                          // PIE CHART
                            google.charts.setOnLoadCallback(drawChartPie);
                        
                            function drawChartPie() {
                        
                              var data = google.visualization.arrayToDataTable([
                                ['Energy', 'Amount'],
                                ['수력',    {v: 7, f:'7%'}],
                                ['풍력',  {v: 24, f:'24%'}],
                                ['태양',     {v: 69, f:'69%'}],
                              ]);
                        
                              var options = {
                                legend: {alignment:'center', position: 'bottom'},
                                sliceVisibilityThreshold: 0.0001,
                                enableInteractivity: true,
                                pieSliceText: 'value',
                                backgroundColor:{fill:'#fff', stroke:'#d9d9d9', strokeWidth:'2'},
                                chartArea:{width: '90%'},
                                fontsize: 14,
                                colors:['#4472C4', '#ED7D31', '#aaa', '#FFC000', '#5B9BD5','#70AD47','#264478'],
                                tooltip: {ignoreBounds:true, text:'value', trigger:'selection', textStyle: {color:'#000', fontSize: '14'}}
                              };
                        
                        
                              var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
                              window.addEventListener('resize', drawChartPie, false); 
                              chart.draw(data, options);
                        
                              // legend(범례)에 mouseover 할 때도 tooltip 보여지도록.
                              function mouseOverHandler(selection) {
                                chart.setSelection([selection]);
                              }
                              function mouseOutHandler() {
                                chart.setSelection();      }
                              google.visualization.events.addListener(chart, 'onmouseover', mouseOverHandler);
                              google.visualization.events.addListener(chart, 'onmouseout', mouseOutHandler);
                        
                        
                          }
                        </script><!-- END CHART -->

