<div class="full-width">
<div class="wrapper clearfix">
<article class="nationalInfo">
<h4 class="red-bullet">국가 정보</h4>

<div class="whBox clearfix">
<div class="clearfix national_name"><img alt="아랍에미리트국기" class="flag" height="97" src="/globalenergy/design/theme/bluebox/images/arabemirates.png" width="140" /> <span> <span class="name_k">아랍에미리트</span><br />
<span class="name_e">United Arab Emirates</span> </span></div>
<strong class="red_bar">국가 개황</strong>

<ul class="mid-dot">
	<li>면적 : 84천 ㎢ (한반도의 38%)</li>
	<li>기후 : 고온다습, 아열대 및 사막</li>
	<li>인구 : 10.7백만 명(&#39;19)</li>
	<li>언어 : 아랍어(공용어), 페르시아어, 영어, 힌두어, 우르두어</li>
	<li>종교 : 이슬람교(76%), 기독교(9%)</li>
	<li>산업구조 : 제조업 50%, 서비스업 49%, 농업 1%(&#39;17)</li>
	<li>주요 부존자원 : 석유, 천연가스</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar">주요 사업 환경 지표</strong>

<ul class="mid-dot">
	<li>기업경영여건 : 34th/190</li>
	<li>국제신인도 : OECD 2등급, Moody&#39;s Aa2</li>
	<li>투자현황 (2019년 6월말 누계)
	<p class="hypen">신규 법인 수 : 458</p>

	<p class="hypen">투자금액 : 1,747,654 천 달러</p>
	</li>
	<li>1인당 GDP : 37,375 달러(&#39;20)</li>
	<li>경제성장률 : 2.5%(&#39;20)</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar mt20">투자보장/에너지협력 체결 현황</strong>

<ul class="mid-dot">
	<li>투자보장협정 : 2002년 6월 9일 체결</li>
</ul>
</div>
</article>

<div class="left_nation">
<article class="energyMix">
<h4 class="red-bullet">에너지원별 발전 현황</h4>

<div class="whBox">
<div class="graph mix"><img alt="UnitedArabEmiratesEnergyMix" src="/globalenergy/design/theme/bluebox/images/UnitedArabEmiratesEnergyMix.png" />
<div id="curve_chart">&nbsp;</div>
</div>

<p class="italic">Source : EIA (2020 Sep.)</p>
</div>
</article>

<article class="energyPlan">
<h4 class="red-bullet">에너지 계획</h4>

<div class="whBox clearfix"><strong class="red_bar">아랍에미리트 국가 에너지 전략 2050</strong>

<div class="col-md-6">
<div class="subject">2050 에너지 믹스</div>

<div class="graph plan"><img alt="UnitedArabEmiratesEnergyPlan" src="/globalenergy/design/theme/bluebox/images/UnitedArabEmiratesEnergyPlan.png" />
<div id="pie_chart">&nbsp;</div>
</div>

<p class="italic">Source : UAE Energy Strategy 2050</p>
</div>

<div class="col-md-6">
<div class="subject">국가 에너지 전략 2050 주요 방향</div>

<ul class="mid-dot">
	<li>청정 에너지 비율을 2050 년까지 25%에서 50%로 증가</li>
	<li>다양한 에너지원 확보</li>
	<li>탄소 배출량을 70%로 감소시켜 2050 년까지 7,000 억 AED를 절약</li>
	<li>개인 및 기업의 에너지 소비 40% 감축</li>
	<li>증가하는 에너지 수요를 충족 및 국가 경제의 지속가능한 성장 보장을 위하여 2050년까지 6,000억 AED 투자</li>
	<li>지속 가능한 에너지 공급을 위한 연구개발</li>
</ul>
</div>
</div>
</article>

<article class="energyGov">
<h4 class="red-bullet">에너지 정부</h4>

<div class="whBox">
<div class="graph organization"><img alt="아랍에미리트 에너지 정부 조직도" src="/globalenergy/design/theme/bluebox/images/UnitedArabEmiratesGov.png" /></div>
<a class="govmore" href="#">기관별 역할 보기<span>&nbsp;</span></a>

<div class="tableWrap">
<table>
	<caption class="hidden">아랍에미리트 에너지 정부의 기관명, 역할</caption>
	<colgroup>
		<col style="width:25%" />
		<col style="width:75%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">기관명</th>
			<th scope="col">역할</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://moiat.gov.ae/" target="_blank">첨단 산업 기술부(MoIAT)</a></td>
			<td>ECAS, EQM, EESL 등 표준 인증 제도 실행</td>
		</tr>
		<tr>
			<!-- 링크 이상있음음 -->
			<td><a href="https://www.moei.gov.ae/" target="_blank">에너지산업부 (MOEI)</a></td>
			<td>공공 정책, 입법, 전략을 수립 및 개발하고 관련 기관과 협력</td>
		</tr>
		<tr>
			<td><a href="https://www.emarat.ae/" target="_blank">국영석유공사 (EMARAT)</a></td>
			<td>UAE 정부가 석유를 판매하고 유통하기 위해 설립</td>
		</tr>
		<tr>
			<td><a href="https://www.moe.gov.ae/ar/Pages/home.aspx" target="_blank">경제부 (MOE)</a></td>
			<td>외국인 직접투자 정책 제안, 종합적인 투자 데이터 및 정보 데이터베이스 작성</td>
		</tr>
		<tr>
			<td><a href="https://www.doe.gov.ae/" target="_blank">아부다비 에너지부 (DOE)</a></td>
			<td>경제적, 환경적, 사회적 지속 가능성을 위해 에너지원을 다양화하고 확보하는 전략적 이니셔티브 개발</td>
		</tr>
		<tr>
			<td><a href="https://www.dewa.gov.ae/" target="_blank">두바이 전력 및 수도부 (DEWA)</a></td>
			<td>두바이 지역 전략 계획 수립 및 실행</td>
		</tr>
		<tr>
			<td><a href="https://www.sewa.gov.ae/" target="_blank">샤르자 전력 및 수도부 (SEWA)</a></td>
			<td>샤르자 지역 전략 계획 수립 및 실행</td>
		</tr>
		<tr>
			<td><a href="https://etihadwe.ae/ar/Pages/default.aspx" target="_blank">북부에미리트 전력 및 수도부 (FEWA)</a></td>
			<td>Ajman, Ras Al Khaimah, Fujairah, Umm Al Quwain 지역의 전략 계획 수립 및 실행</td>
		</tr>
		<tr>
			<td><a href="https://adio.abudhabi/" target="_blank">아부다비 투자청 (ADIO)</a></td>
			<td>아부다비의 외국인 직접 투자 지원</td>
		</tr>
		<tr>
			<td><a href="https://www.investindubai.gov.ae/" target="_blank">두바이 FDI (DUBAI FDI)</a></td>
			<td>두바이의 외국인 직접 투자 지원</td>
		</tr>
		<tr>
			<td><a href="https://shurooq.gov.ae/" target="_blank">샤르자 투자개발청(SHUROOQ)</a></td>
			<td>샤르자의 외국인 직접 투자 지원</td>
		</tr>
		<tr>
			<td><a href="https://www.investuae.gov.ae/" target="_blank">투자부 (MOI)</a></td>
			<td>FDI 유치, 경제 다각화 전략 추진</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</article>
</div>
</div>
<!-- wrapper --></div>
<!-- full-width --><!-- wrapper --><!-- CHART --><script>
                  // GOOGLE CHART 패키지 불러오기
                  google.charts.load('current', {'packages':['corechart']});
                
                  // LINE CHART
                  google.charts.setOnLoadCallback(drawChart);
                
                  function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                      ['Year', 'Biomass and watse', 'Coal', 'Gas', 'Geothermal', 'Hydroelectricity', 'Nuclear', 'Oil', 'Solar', 'Tide and Wave', 'Wind'],
                      ['2007',  0,        0,   2.08397043,    0,    0,   0,   71.95102957,   0,       0,   0     ],  
                      ['2008',  0,        0,   2.201911873,   0,    0,   0,   74.86308813,   0,       0,   0     ],
                      ['2009',  0,        0,   2.167016758,   0,    0,   0,   80.73298324,   0.01,    0,   0     ],
                      ['2010',  0,        0,   2.208288038,   0,    0,   0,   89.65571196,   0.02,    0,   0     ],
                      ['2011',  0,        0,   2.037351725,   0,    0,   0,   91.15164527,   0.034,   0,   0     ],
                      ['2012',  0,        0,   2.006922968,   0,    0,   0,   94.43707703,   0.035,   0,   0     ],
                      ['2013',  0.0001,   0,   1.969648869,   0,    0,   0,   97.78535113,   0.1,     0,   0.001 ],
                      ['2014',  0.006,    0,   2.16182508,    0,    0,   0,   107.0911749,   0.3,     0,   0.003 ],
                      ['2015',  0.006,    0,   2.322703442,   0,    0,   0,   117.1230966,   0.295,   0,   0.003 ],
                      ['2016',  0.006,    0,   2.34258621,    0,    0,   0,   119.1430138,   0.356,   0,   0.001 ],
                      ['2017',  0.006,    0,   2.259753938,   0,    0,   0,   123.4755861,   0.79,    0,   0.001 ]
                    ]);
                
                    var options = {
                      title: '단위 : TWh',
                      titleTextStyle: {color: '#666666', bold: 'false'},
                      legend: { position: 'bottom' },
                      vAxis: {gridlines: {count: 6} },
                      colors: ['#4472C4','#ED7D31','#A5A5A5','#FFC000','#5B9BD5','#70AD47','#264478','#9E480E','#636363','#997300'],
                      lineWidth:3,
                      chartArea:{width:'90%'}
                    };
                
                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                    window.addEventListener('resize', drawChart, false); 
                    chart.draw(data, options);
                  }
                
                
                  // PIE CHART
                  google.charts.setOnLoadCallback(drawChartPie);
                
                  function drawChartPie() {
                
                    var data = google.visualization.arrayToDataTable([
                      ['Energy', 'Amount'],
                      ['Clean energy',  {v: 44.00, f:'44.00%'}],
                      ['Gas',          {v: 38.00, f:'38.00%'}],
                      ['Clean coal',   {v: 12.00, f:'12.00%'}],
                      ['Nuclear',      {v: 6.00, f:'6.00%'}  ]
                    ]);
                
                    var options = {
                      legend: {alignment:'center', position: 'bottom'},
                      sliceVisibilityThreshold: 0.0001,
                      enableInteractivity: true,
                      pieSliceText: 'value',
                      backgroundColor:{fill:'#fff', stroke:'#d9d9d9', strokeWidth:'2'},
                      chartArea:{width: '90%'},
                      fontsize: 14,
                      colors:['#4472C4', '#ED7D31', '#aaa', '#FFC000', '#5B9BD5','#70AD47','#264478','#9E480E'],
                      tooltip: {ignoreBounds:true, text:'value', trigger:'selection', textStyle: {color:'#000', fontSize: '14'}}
                    };
                
                
                    var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
                    window.addEventListener('resize', drawChartPie, false); 
                    chart.draw(data, options);
                
                    // legend(범례)에 mouseover 할 때도 tooltip 보여지도록.
                    function mouseOverHandler(selection) {
                      chart.setSelection([selection]);
                    }
                    function mouseOutHandler() {
                      chart.setSelection();      
                    }
                    google.visualization.events.addListener(chart, 'onmouseover', mouseOverHandler);
                    google.visualization.events.addListener(chart, 'onmouseout', mouseOutHandler);
                
                
                  }
                </script><!-- END CHART -->

