<div class="full-width">
<div class="wrapper clearfix">
<article class="nationalInfo">
<h4 class="red-bullet">국가 정보</h4>

<div class="whBox">
<div class="clearfix national_name"><img alt="영국국기" class="flag" height="97" src="/globalenergy/design/theme/bluebox/images/uk.png" width="140" /> <span> <span class="name_k">영국</span><br />
<span class="name_e">United Kingdom</span> </span></div>
<strong class="red_bar">국가 개황</strong>

<ul class="mid-dot">
	<li>면적 : 244천 ㎢(한반도의 1.1배)</li>
	<li>기후 : 온대 기후</li>
	<li>인구 : 66.9백만 명 (&#39;19)</li>
	<li>언어 : 영어</li>
	<li>종교 : 기독교(60%), 이슬람교(4%), 힌두교(1%)</li>
	<li>산업구조 : 서비스업 79%, 제조업 20%, 농업 1%(&#39;17)</li>
	<li>주요 부존자원 : 석탄, 석유, 천연가스, 철광석, 납, 아연, 금, 주석, 석회암, 소금</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar">주요 사업 환경 지표</strong>

<ul class="mid-dot">
	<li>기업경영여건 : 8th/190</li>
	<li>국제신인도 : Moody&#39;s Aa2, Fitch AA</li>
	<li>투자현황 (2019년 6월말 누계)
	<p class="hypen">신규 법인 수 : 506</p>

	<p class="hypen">투자금액 : 16,117,180 천 달러</p>
	</li>
	<li>1인당 GDP : 40,392 달러 (&#39;20)</li>
	<li>경제성장률 : 1.4% (&#39;20)</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar mt20">투자보장/에너지협력 체결 현황</strong>

<ul class="mid-dot">
	<li>투자보장협정 : 1976년 3월 4일 체결</li>
</ul>
</div>
</article>

<div class="left_nation">
<article class="energyMix">
<h4 class="red-bullet">에너지원별 발전 현황</h4>

<div class="whBox">
<div class="graph mix">
<div id="curve_chart">&nbsp;</div>
</div>

<p class="italic">Source : EIA (2020 Sep.)</p>
</div>
</article>

<article class="energyPlan">
<h4 class="red-bullet">에너지 계획</h4>

<div class="whBox clearfix"><strong class="red_bar">영국 에너지 계획</strong>

<div class="col-md-6">
<div class="subject">2040 전력 믹스(설치용량 기준)</div>

<div class="graph plan">
<div id="pie_chart">&nbsp;</div>
</div>

<p class="italic">Source : Updated energy and emissions projections 2019</p>
</div>

<div class="col-md-6">
<div class="subject">에너지 및 배출량 전망:2019 주요 방향</div>

<ul class="mid-dot">
	<li>2040년 CO2 배출량을 344 MtCO2e 로 감축</li>
	<li>저탄소 발전 비율이 2018년 51%에서 2040년 83%로 증가</li>
	<li>2040년 까지 총 발전량의 56%를 재생에너지로 생산</li>
	<li>인접시장과의 연결망 증설로 전기 수입량 증가</li>
	<li>자원 및 폐기물 전략에 따른 정책 내용 반영 :<br />
	- 예치금 반환 제도<br />
	- 포장 생산자 책임제도 개혁<br />
	- 가계 및 기업 재활용 수거 체계화</li>
</ul>
</div>
</div>
</article>

<article class="energyGov">
<h4 class="red-bullet">에너지 정부</h4>

<div class="whBox">
<div class="graph organization"><img alt="영국 에너지 정부 조직도" src="/globalenergy/design/theme/bluebox/images/ukGov.png" /></div>
<a class="govmore" href="#">기관별 역할 보기<span>&nbsp;</span></a>

<div class="tableWrap">
<table>
	<caption class="hidden">영국 에너지 정부의 기관명, 역할</caption>
	<colgroup>
		<col style="width:25%" />
		<col style="width:75%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">기관명</th>
			<th scope="col">역할</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://www.uregni.gov.uk/" target="_blank">북아일랜드 유틸리티<br />
			산업규제기관 (UREGNI)</a></td>
			<td>북 아일랜드 전기, 가스, 상하수도 산업 규제</td>
		</tr>
		<tr>
			<td><a href="https://www.gov.uk/government/organisations/department-for-business-energy-and-industrial-strategy" target="_blank">기업에너지산업전략부 (BEIS)</a></td>
			<td>사업 규제와 지원, 과학 분야의 혁신, 에너지와 기후변화 정책 분야 담당</td>
		</tr>
		<tr>
			<td><a href="https://www.gov.uk/government/organisations/hm-treasury" target="_blank">재무부 (HMT)</a></td>
			<td>세금 정책 개발, 재생에너지 프로젝트 인센티브 자금 지원</td>
		</tr>
		<tr>
			<td><a href="https://www.gov.uk/government/organisations/hm-revenue-customs" target="_blank">국세청 (HMRC)</a></td>
			<td>영국의 세금 및 관세 규제, 세금 시스템 관리, 세금 정책 유지 및 구현</td>
		</tr>
		<tr>
			<td><a href="https://www.gov.uk/government/organisations/department-for-energy-security-and-net-zero" target="_blank">에너지안보 및 넷제로부(DESNZ)</a></td>
			<td>에너지 안보와 기후변화 대응을 위한 넷제로 전략 수립 및 실행</td>
		</tr>
		<tr>
			<td><a href="https://www.gov.uk/government/organisations/department-for-business-and-trade" target="_blank">비즈니스 무역부(DBT)</a></td>
			<td>산업 성장과 국제 무역 투자를 촉진하는 정책 수립</td>
		</tr>
		<tr>
			<td><a href="https://www.gov.uk/government/organisations/department-for-science-innovation-and-technology" target="_blank">과학혁신기술부(DSIT)</a></td>
			<td>첨단 기술과 연구개발(R&D)</td>
		</tr>
		<tr>
			<td><a href="https://www.neso.energy/" target="_blank">에너지시스템운영기관(NESO)</a></td>
			<td>에너지 시스템 운영, 계획 전담</td>
		</tr>
		<tr>
			<td><a href="https://www.gbe.gov.uk/" target="_blank">국영에너지공사(GB Energy)</a></td>
			<td>재생에너지 투자 및 프로젝트 수행</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</article>
</div>
</div>
<!-- wrapper --></div>
<!-- full-width --><!-- wrapper --><!-- CHART --><script>
                  // GOOGLE CHART 패키지 불러오기
                  google.charts.load('current', {'packages':['corechart']});
                
                  // LINE CHART
                  google.charts.setOnLoadCallback(drawChart);
                
                  function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                      ['Year', 'Biomass and watse', 'Coal', 'Gas', 'Hydroelectricity', 'Nuclear', 'Oil', 'Solar', 'Tide and Wave', 'Wind'],
                      ['2007',  1.754,  27.6860428045218,  33.2990454718659,   4.266,   10.222,   3.81491172361235,   0.018,   0.0005,  2.477  ],  
                      ['2008',  1.762,  27.1538038328867,  34.5498398759588,   4.37,    10.097,   3.48035629115447,   0.023,   0.0005,  3.447  ],
                      ['2009',  1.906,  27.1174114661909,  35.2740401455254,   4.382,   10.137,   3.47454838828375,   0.027,   0.001,   4.42   ],
                      ['2010',  2.366,  26.8333491833128,  39.9450558773422,   4.381,   10.137,   3.76459493934503,   0.096,   0.004,   5.421  ],
                      ['2011',  3.455,  26.1740959807201,  37.7813625029266,   4.417,   9.92,     3.73054151635333,   1,       0.004,   6.596  ],
                      ['2012',  3.373,  25.0870647200177,  39.192898470933,    4.437,   9.231,    3.21903680904932,   1.753,   0.009,   9.03   ],
                      ['2013',  4.063,  21.3820675380077,  37.4212701995115,   4.453,   9.243,    2.16766226248076,   2.937,   0.008,   11.282 ],
                      ['2014',  4.594,  19.9294816822967,  37.1923178014548,   4.474,   9.373,    1.8842005162485,    5.528,   0.009,   13.074 ],
                      ['2015',  5.294,  17.8538713176514,  34.3720994183413,   4.522,   8.918,    0.796029264007247,  9.601,   0.009,   14.316 ],
                      ['2016',  5.768,  13.5479687344782,  35.2212595020433,   4.579,   8.918,    0.822771763478446,  11.912,  0.013,   16.174 ],
                      ['2017',  6.053,  13.574183141896,   36.4723158857829,   4.619,   8.918,    0.764500972321126,  12.776,  0.018,   19.835 ]
                    ]);
                
                    var options = {
                      title: '단위 : TWh',
                      titleTextStyle: {color: '#666666', bold: 'false'},
                      legend: { position: 'bottom' },
                      vAxis: {gridlines: {count: 6} },
                      colors: ['#4472C4','#ED7D31','#A5A5A5','#FFC000','#5B9BD5','#70AD47','#264478','#9E480E','#636363'],
                      lineWidth:3,
                      chartArea:{width:'90%'}
                    };
                
                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                    window.addEventListener('resize', drawChart, false); 
                
                    chart.draw(data, options);
                  }
                
                
                  // PIE CHART
                    google.charts.setOnLoadCallback(drawChartPie);
                
                    function drawChartPie() {
                
                      var data = google.visualization.arrayToDataTable([
                        ['Energy', 'Amount'],
                        ['NaturalGas',       {v: 31.6, f:'31.6%'}],
                        ['Nuclear',          {v: 7.1, f:'7.1%'}],
                        ['OtherThermal',     {v: 0.9, f:'0.9%'}],
                        ['Renewables',       {v: 45.7, f:'45.7%'}],
                        ['Interconnectors',  {v: 12.2, f:'12.2%'}],
                        ['Storage',          {v: 1.7, f:'1.7%'}],
                        ['CCS',              {v: 0.7, f:'0.7%'}]
                      ]);
                
                      var options = {
                        legend: {alignment:'center', position: 'bottom'},
                        sliceVisibilityThreshold: 0.0001,
                        enableInteractivity: true,
                        pieSliceText: 'value',
                        backgroundColor:{fill:'#fff', stroke:'#d9d9d9', strokeWidth:'2'},
                        chartArea:{width: '90%'},
                        fontsize: 14,
                        colors:['#4472C4', '#ED7D31', '#aaa', '#FFC000', '#5B9BD5','#70AD47','#264478'],
                        tooltip: {ignoreBounds:true, text:'value', trigger:'selection', textStyle: {color:'#000', fontSize: '14'}}
                      };
                
                
                      var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
                      window.addEventListener('resize', drawChartPie, false); 
                      chart.draw(data, options);
                
                      // legend(범례)에 mouseover 할 때도 tooltip 보여지도록.
                      function mouseOverHandler(selection) {
                        chart.setSelection([selection]);
                      }
                      function mouseOutHandler() {
                        chart.setSelection();      }
                      google.visualization.events.addListener(chart, 'onmouseover', mouseOverHandler);
                      google.visualization.events.addListener(chart, 'onmouseout', mouseOutHandler);
                
                
                  }
                </script><!-- END CHART -->

