<div class="full-width">
<div class="wrapper clearfix">
<article class="nationalInfo">
<h4 class="red-bullet">국가 정보</h4>

<div class="whBox">
<div class="clearfix national_name"><img alt="베트남국기" class="flag" height="97" src="/globalenergy/design/theme/bluebox/images/vietnam.png" width="140" /> <span> <span class="name_k">베트남</span><br />
<span class="name_e">Vietnam</span> </span></div>
<strong class="red_bar">국가 개황</strong>

<ul class="mid-dot">
	<li>면적 : 331천 ㎢ (한반도의 1.5배)</li>
	<li>기후 : 아열대성(북부), 열대성(남부)</li>
	<li>인구 : 95.5백만 명 (&#39;19)</li>
	<li>언어 : 베트남어(공용어), 영어, 프랑스어, 중국어, 크메르어</li>
	<li>종교 : 불교(8%), 카톨릭(7%), 무교 비율이 높음</li>
	<li>산업구조 : 서비스업 52%, 제조업 34%, 농업 14%(&#39;17)</li>
	<li>주요 부존자원 : 안티몬, 인산염, 석탄, 망간, 희토류, 보크사이트, 크롬산염, 석유 및 가스, 목재, 수력자원</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar">주요 사업 환경 지표</strong>

<ul class="mid-dot">
	<li>기업경영여건 : 70th/190</li>
	<li>국제신인도 : OECD 4등급, Moody&#39;s Ba3, Fitch BB</li>
	<li>투자현황 (2019년 6월말 누계)
	<p class="hypen">신규 법인 수 : 6,691</p>

	<p class="hypen">투자금액 : 22,234,078 천 달러</p>
	</li>
	<li>1인당 GDP : 2,955 달러 (&#39;20)</li>
	<li>경제성장률 : 6.5% (&#39;20)</li>
</ul>

<p class="italic">출처 : 한국수출입은행</p>
<strong class="red_bar mt20">투자보장/에너지협력 체결 현황</strong>

<ul class="mid-dot">
	<li>투자보장협정 : 2003년 9월 15일 체결</li>
</ul>
</div>
</article>

<div class="left_nation">
<article class="energyMix">
<h4 class="red-bullet">에너지원별 발전 현황</h4>

<div class="whBox">
<div class="graph mix"><img alt="VietnamEnergyMix" src="/globalenergy/design/theme/bluebox/images/VietnamEnergyMix.png" />
<div id="curve_chart">&nbsp;</div>
</div>

<p class="italic">Source : EIA (2020 Sep.)</p>
</div>
</article>

<article class="energyPlan">
<h4 class="red-bullet">에너지 계획</h4>

<div class="whBox clearfix"><strong class="red_bar">베트남 8차 전원개발계획</strong>

<div class="col-md-6">
<div class="subject">2050년 전력 믹스 (발전량 기준)</div>

<div class="graph plan"><img alt="VietnamEnergyPlan" src="/globalenergy/design/theme/bluebox/images/VietnamEnergyPlan.png" />
<div id="pie_chart">&nbsp;</div>
</div>

<p class="italic">Source :베트남 8차 전원개발계획</p>
</div>

<div class="col-md-6">
<div class="subject">베트남 8차 전원개발계획 주요 방향</div>

<ul class="mid-dot">
	<li>재생에너지 개발 및 재생에너지로의 전환<br />
	- 재생에너지 비율 2030년까지 30.9~39.2%, 2050년까지 67.5~71.5%<br />
	- 에너지전환 파트너십(Just Energy Transition Partnership,JETP)에 따른 공약 이행<br />
	- 재생에너지 통합을 위한 스마트 그리드 개발</li>
	<li>신에너지원을 기반으로 포괄적인 에너지 산업 생태계 개발<br />
	- 2030년까지 지역 재생에너지산업 및 서비스센터 2개소 구축<br />
	- 수출용 재생에너지원은 2030년까지 약 5,000~10,000MW로 목표</li>
</ul>
</div>
</div>
</article>

<article class="energyGov">
<h4 class="red-bullet">에너지 정부</h4>

<div class="whBox">
<div class="graph organization"><img alt="베트남 에너지 정부 조직도" src="/globalenergy/design/theme/bluebox/images/VietnamGov_2024.png" /></div>
<a class="govmore" href="#">기관별 역할 보기<span>&nbsp;</span></a>

<div class="tableWrap">
<table>
	<caption class="hidden">베트남 에너지 정부의 기관명, 역할</caption>
	<colgroup>
		<col style="width:25%" />
		<col style="width:75%" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">기관명</th>
			<th scope="col">역할</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://moit.gov.vn/" target="_blank">산업통상부(MOIT)</a></td>
			<td>전력 정책 시행 및 국영 전력기업 관리 기관</td>
		</tr>
		<tr>
			<td><a href="https://www.mpi.gov.vn/" target="_blank">기획투자부(MPI)</a></td>
			<td>지속 가능한 개발을 위한 ODA 자원의 메커니즘, 정책 개발 기관</td>
		</tr>
		<tr>
			<td><a href="https://mof.gov.vn/" target="_blank">내무부(MOF)</a></td>
			<td>전력 개발을 위한 투자 자본 지원</td>
		</tr>
		<tr>
			<!-- 링크 이상있음 -->
			<td><a href="https://www.most.gov.vn/" target="_blank">과학기술부(MOST)</a></td>
			<td>에너지 생산량에 대한 국가 표준 발표</td>
		</tr>
		<tr>
			<td><a href="https://moc.gov.vn/vn/Pages/Trangchu.aspx" target="_blank">건설부(MOC)</a></td>
			<td>설계, 건설, 자재 사용에서 에너지의 경제적이고 효율적인 사용 규범 및 기술 규정 공포</td>
		</tr>
		<tr>
			<td><a href="https://www.sbv.gov.vn/vi/trang-chu" target="_blank">중앙은행(SBV)</a></td>
			<td>투자자에게 부여할 자본수지 및 가능한 대출에 대한 지침을 국내 상업 은행에 제공</td>
		</tr>
		<tr>
			<!-- 링크 이상있음 -->
			<td><a href="https://www.erav.vn/" target="_blank">전력규제청(ERAV)</a></td>
			<td>전력시장 관리, 규정 개발 및 준수 여부 감시 기관</td>
		</tr>
		<tr>
			<td><a href="https://tcvn.gov.vn/" target="_blank">표준계량품질총국(STAMEQ)</a></td>
			<td>표준화, 계량, 제품 품질 업무</td>
		</tr>
		<tr>
			<td><a href="https://evn.com.vn/">전력공사(EVN)</a></td>
			<td>베트남 전 지역의 발전, 송전, 배전, 판매 관할 및 전력 프로젝트 투자, 자본관리</td>
		</tr>
		<tr>
			<td><a href="https://www.vinacomin.vn/web/login" target="_blank">석탄광물공사(Vinacomin)</a></td>
			<td>국내 및 수입 석탄공급에 핵심 역할 수행, 국내외 민간 투자자들과 협력</td>
		</tr>
		<tr>
			<td><a href="https://www.pvn.vn/" target="_blank">석유 공사(PVN)</a></td>
			<td>전력 개발 프로젝트에 따라 LNG 수입 인프라 구축에 있어 국내외 민간 투자자와 협력</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</article>
</div>
</div>
<!-- wrapper --></div>
<!-- full-width --><!-- wrapper --><!-- CHART --><script>
	// GOOGLE CHART 패키지 불러오기
	google.charts.load('current', { 'packages': ['corechart'] });

	// LINE CHART
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Year', 'Biomass and watse', 'Coal', 'Gas', 'Geothermal', 'Hydroelectricity', 'Nuclear', 'Oil', 'Solar', 'Tide and Wave', 'Wind'],
			['2007', 0.079, 13.74268009, 25.02070169, 0, 22.292, 0, 2.496618217, 0.004, 0, 0],
			['2008', 0.055, 13.84000553, 29.19909338, 0, 25.726, 0, 1.474901085, 0.004, 0, 0.001],
			['2009', 0.062, 14.08035023, 34.17673902, 0, 29.681, 0, 1.677910753, 0.005, 0, 0.01],
			['2010', 0.055, 18.50856486, 41.49904122, 0, 27.275, 0, 3.205393915, 0.006, 0, 0.05],
			['2011', 0.056, 21.0833668, 36.49756488, 0, 40.515, 0, 1.644068328, 0.006, 0, 0.087],
			['2012', 0.057, 23.3637692, 37.06054977, 0, 52.267, 0, 0.349681036, 0.006, 0, 0.087],
			['2013', 0.058, 25.56035293, 38.41008905, 0, 51.435, 0, 0.398558019, 0.006, 0, 0.087],
			['2014', 0.059, 32.52579171, 40.66710961, 0, 59.243, 0, 0.484098686, 0.007, 0, 0.087],
			['2015', 0.07, 53.08086, 45.25818, 0, 56.602, 0, 1.21542, 0.007, 0, 0.12],
			['2016', 0.068, 64.11834, 43.2917, 0, 65.065, 0, 1.7954, 0.007, 0, 0.218],
			['2017', 0.076, 63.50452, 38.5588, 0, 70.17, 0, 0.658, 0.009, 0, 0.323]
		]);

		var options = {
			title: '단위 : TWh',
			titleTextStyle: { color: '#666666', bold: 'false' },
			legend: { position: 'bottom' },
			vAxis: { gridlines: { count: 6 } },
			colors: ['#4472C4', '#ED7D31', '#A5A5A5', '#FFC000', '#5B9BD5', '#70AD47', '#264478', '#9E480E', '#636363', '#997300'],
			lineWidth: 3,
			chartArea: { width: '90%' }
		};

		var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
		window.addEventListener('resize', drawChart, false);

		chart.draw(data, options);
	}


	// PIE CHART
	google.charts.setOnLoadCallback(drawChartPie);

	function drawChartPie() {

		var data = google.visualization.arrayToDataTable([
			['Energy', 'Amount'],
			['Hydro', { v: 7.3, f: '7.3%' }],
			['Wind', { v: 29.4, f: '29.4%' }],
			['Solar', { v: 34.4, f: '34.4%' }],
			['Hydrogen', { v: 5.4, f: '5.4%' }],
			['other', { v: 23.5, f: '23.5%' }],
		]);

		var options = {
			legend: { alignment: 'center', position: 'bottom' },
			sliceVisibilityThreshold: 0.0001,
			enableInteractivity: true,
			pieSliceText: 'value',
			backgroundColor: { fill: '#fff', stroke: '#d9d9d9', strokeWidth: '2' },
			chartArea: { width: '90%' },
			fontsize: 14,
			colors: ['#4472C4', '#ED7D31', '#aaa', '#FFC000', '#5B9BD5', '#70AD47'],
			tooltip: { ignoreBounds: true, text: 'value', trigger: 'selection', textStyle: { color: '#000', fontSize: '14' } }
		};


		var chart = new google.visualization.PieChart(document.getElementById('pie_chart'));
		window.addEventListener('resize', drawChartPie, false);

		chart.draw(data, options);

		// legend(범례)에 mouseover 할 때도 tooltip 보여지도록.
		function mouseOverHandler(selection) {
			chart.setSelection([selection]);
		}
		function mouseOutHandler() {
			chart.setSelection();
		}
		google.visualization.events.addListener(chart, 'onmouseover', mouseOverHandler);
		google.visualization.events.addListener(chart, 'onmouseout', mouseOutHandler);


	}
</script><!-- END CHART -->

